{% load static %}
<div class="w-full px-2 py-40 lg:px-10">
  <div class="text-center">
    <h2
      class="font-title relative z-[2] mx-auto text-[clamp(2rem,6vw,4.5rem)] font-black leading-none will-change-auto [transform:translate3d(0,0,0)] motion-reduce:!tracking-normal max-[1279px]:!tracking-normal"
      style="letter-spacing: 0.16612972508591073rem"
    >{% include 'components/grad.html'%}
    </h2>
    
    <p class="text-base-content/70 font-title py-4  md:text-3xl font-bold">
      Until I Graduate
    </p>
  </div>
</div>
<div class="h-24"></div>
<div class="flex flex-col w-full px-10 justify-center mt-10 mx-auto">
  {%include 'components/resume.html'%}
</div>
<div class="h-64"></div>
