{% load static %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left px-2 md:px-6">
      <div class="text-center">
          <h2 class="font-title relative z-[2] mx-auto text-[clamp(2rem,6vw,4.5rem)] font-black leading-none">
            I Call It Live
          </h2>        
          <p class="text-base-content/70 font-title relative z-[2] py-4 font-light md:text-xl">Developed with passion, Live showcases the prowess of Django, JavaScript, Bootstrap, and MySQL, harmoniously orchestrated to deliver a robust and intuitive user experience.</p> 
          <div class="h-4"></div> 
          <p class="text-base-content/70 font-title relative z-[2] py-4 font-light md:text-xl">Hosted on an Ubuntu server, this endeavour has significantly enriched my understanding of programming and system designs.</p> 
          <div class="mx-auto w-72 flex justify-center align-center gap-5 m-5">
            <!-- <span class="text-base-content/70 inline-block -translate-y-2 -rotate-12">Click</span> <svg class="text-base-content/20 inline-block h-8 w-20 rtl:[transform:rotateY(180deg)]" viewBox="0 0 45 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.50244C23.4 -1.69756 38.3333 11.1691 43 18.0024M43 18.0024L38 17.0024M43 18.0024V13.0024" stroke="currentColor"></path></svg></div> <div class="flex justify-center pb-10 pt-4"><label class="flex cursor-pointer items-center gap-3">Tailwind only <div class="relative"><div class="pointer-events-none absolute start-1/2 top-1/2 grid h-20 w-60 -translate-x-1/2 -translate-y-1/2"><div class="bg-primary/30 col-start-1 row-start-1 scale-[2] rounded-full blur-[5rem] [transform:translate3d(0,0,0)]"></div></div> <input name="tailwind-va-daisyui" type="checkbox" class="toggle toggle-lg toggle-primary relative z-[2]"></div> Tailwind + daisyUI</label> -->
            <a onclick="alert('In Work')" type="button" class="btn btn-outline px-4 rounded-xl">More Information</a>
            <a href="http://35.183.44.11:8080/" target="_blank" type="button" class="btn btn-outline px-4 rounded-xl">Deployed Version </a>
          </div>
        </div>
    </div>
    <div class="w-full max-w-sm shadow-2xl overflow-hidden card">
     <img class="object-contain" src="{%static 'code/project-main.png' %}" alt="">
    </div>
  </div>
</div>

