<div class="container-fluid px-5 py-5" id="hanging-icons" style="background-color: #d1e2ff;">
    <div class="container m-5 px-5">
        <h1 class="fs-4 py-3">Some stats about me</h1>
        <div class="row g-4 pb-5 row-cols-1 row-cols-lg-3">
          <div class="col">
            <h3 class="display-5 fw-bold text-body-emphasis">1000+</h3>
            <p class="lead">CNC Programs Made</p>
          </div>
      
          <div class="col">
            <h3 class="display-5 fw-bold text-body-emphasis">500+</h3>
            <p class="lead">CADs Made</p>
          </div>
      
          <div class="col">
            <h3 class="display-5 fw-bold text-body-emphasis">10000+</h3>
            <p class="lead">Lines of Code</p>
          </div>
        </div>

    </div>
</div>
