{%extends 'resume.html'%}
{%block content%}

{%include 'res_comp/header.html'%}
<hr />
<div style="display: grid; grid-template-columns: repeat(3, 1fr);">
    <div style="grid-column: span 2;  padding-right: 15px;">
        {%include 'res_comp/summary2_BE.html'%}
        <hr />
        {%include 'res_comp/projects_BE.html'%}
        <hr />
        {%include 'res_comp/educationSingle.html'%}
        <hr>

    </div>

    <div style="border-left: solid gray 0px;padding-left: 15px;">
        {%include 'res_comp/techinicalSkills_BE.html'%}
        <hr />
        <!-- {%include 'res_comp/HackathonExp.html'%} -->
    </div>

</div>






<!-- <hr> -->
<!-- {%include 'res_comp/KeyStrengths.html'%} -->

<!-- <hr> -->
<!-- {%include 'res_comp/certs.html'%} -->
{%endblock%}