{%extends 'resume.html'%}
<style>
    p,
    li {
        font-size: 13.25px;
        line-height: 14px;
    }
</style>
{%block content%}

{%include 'res_comp/header_ME.html'%}
<hr />
{%include 'res_comp/summary.html'%}
<hr>
{%include 'res_comp/keySkills.html'%}
<hr>
{%include 'res_comp/professionalExp.html'%}
<hr>
{%include 'res_comp/educationSingle2.html'%}
<hr>
{%include 'res_comp/projectsAndAch.html'%}
<!-- <hr> -->
<!-- {%include 'res_comp/certs.html'%} -->
<hr>
{%include 'res_comp/references.html'%}


{%endblock%}