{%load static%}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Resume Jashandeep Singh</title>
  <link rel="stylesheet" href="{%static 'resume-styles.css'%}" />
  <link rel="icon" href="https://jayd719.github.io/staticfiles/j.png" type="image/x-icon">



</head>
<style>
  .roboto-condensed {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12.25px;
  }

  li,
  p {
    text-align: justify;
    margin-top: 5px;
    line-height: 12.775px;
  }



  h3 {
    color: rgb(11, 11, 175);
    margin-top: 10px;
    margin-bottom: 5px;
  }

  strong {
    font-weight: bold;
  }
</style>

<body class="roboto-condensed" style="margin: 0;">
  <page size="A4">
    {%block content%}
    {%endblock%}
  </page>

  {%csrf_token%}
  {%include "googleTag.html"%}
  </script>
</body>

</html>