.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  width: 300px;
  height: 540px;
  border-radius: 21px;
  transform: rotate(30deg);
}



/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}



body{
  background-color: var(--body);
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

.light-text,.icon-link{
  color: var(--var1);
}
.btn1 {
  border: none;
  height: 3em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #AAAAAA;
  font-size: medium;
}

.btn1:hover {
  background: linear-gradient(0deg,#847865,#eeeabb);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 30px 0px #e3b13c7b;
  transform: translateY(-2px);
}

.btn1:hover .text {
  color: white;
}

.btn1:hover .sparkle {
  fill: white;
  transform: scale(1.2);
} 



.falty {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  animation: glitch_4011 2s infinite;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}


@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}


.back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: " ";
  display: block;
  width: 1000px;
  height: 160%;
  opacity: .75;
  background: linear-gradient(
    90deg,
    transparent,
    #17BEBB,
    #E4572E,
    #00ff00,
    #FFC914,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
  
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}



.footer-container {
  position: relative;
  overflow: hidden;
 
}

.background1{
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: #40476D;
  z-index: -2;
  margin-left: -20%;
}

.wave {
  position: absolute;
  width: 180%;
  height: 200%;
  opacity: 0.25;
  z-index: -1;
  margin-left: 0%;
  margin-top: 20%;
  background: linear-gradient(744deg, #ACBEA3, #826754 60%, #AD5D4E);
  border-radius: 40%;
  animation: wave 15s infinite linear;
}


.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.wave:nth-child(2) {
  animation-duration: 20s;
  opacity: 0.35;
}

.wave:nth-child(3) {
  animation-duration:10s;
}

.wave:nth-child(4) {
  top: 310px;
  animation-duration: 25s;
  opacity: 0.5;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }
  100% {
    transform: rotate(360deg);
    scale: 1;
  }
}


.landing-page,.landing-page-content{ 
  transition: transform 0.4s ease;
}
.landing-page:hover {
  transform: scale(.98);
}

.landing-page:hover .landing-page-content {
  transform: scale(1.05);
}