

.b-example-divider {
  width: 100%;
  height: 10.5rem;
  background-color: rgba(0, 0, 0, 0.009);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 1px;
  box-shadow: inset 0 0.25em 0.5em rgba(0, 0, 0, 0.1),;
}
html {
  scroll-behavior: smooth;
  cursor: url("https://i.imgur.com/8Jhi9oS.png"),auto;
}


