{% load static %}
<div class="container my-5 px-2" id="box1">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-4 border shadow-lg bg-info" >
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mt-4">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Gantt Chart Generation with Python</h1>
        <p class="lead mt-3 mb-5">An application built using Python and essential libraries like openpyxl, pandas, and requests that revolutionizes the way we handle data retrieval and project visualization.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a href="{% url 'gantchart'%}" type="button" class="btn  btn-dark px-5 py-2 me-md-2 rounded-5 text-white">Download Application</a>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3 rounded-3" src="{% static 'code/ganttImage.png'%}" alt="" width="720">
      </div>
      
    </div>

    
  </div>