{%load static%}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRACKER</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://www.svgrepo.com/show/294036/stats-graph.svg">
</head>

<body class="bg-base-100">
    <script src="{%static 'tracker_header.js'%}"></script>
    <script src="{%static 'tracker_common.js'%}"></script>
    <script>

    </script>


    <script src="{%static 'tracker_controller.js'%}"></script>
    <script src="{%static 'tracker_actions.js'%}"></script>

    <script src="{%static 'tracker.js'%}"></script>

    <script src="{%static 'tracker_menu.js'%}"></script>

    {%csrf_token%}
</body>

</html>