{% load static %}
<div class="px-4 pt-5 mt-5 text-center mb-5">
  <h1 class="display-5 fw-bold mb-0">CNC Machines</h1>
    <p class="lead mb-4">I Have Programmed For</p>
</div>

<div class="container py-3">
  <!-- machine -->
  <div class="row featurette px-5 mt-5 mb-4">
    <div class="col-md-7 order-md-2 mt-5">
      <h2 class="featurette-heading fw-normal lh-1">DMG EcoMill 50</h2>
      <p class="lead fs-6">3+2, Positional 5 Axis Vertical Milling Machine with Renishaw OP60 Probe, Seimens 840D Controller</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'images/machines/DMGEcomill.png'%}" alt=""class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400"  >
    </div>
  </div>

  <!-- machine -->
  <div class="row featurette px-5 mt-5 mb-4">
    <div class="col-md-7 mt-5">
      <h2 class="featurette-heading fw-normal lh-1 ">DMG CTX510</h2>
      <p class="lead fs-6">Horizontal Lathe with With Live Tooling</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'images/machines/DMGEcoTurn310.jpeg'%}" alt=""class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="600"  >
    </div>
  </div>


  <!-- machine -->
  <div class="row featurette px-5 mt-5 mb-4">
   <div class="col-md-7 order-md-2 mt-5">
      <h2 class="featurette-heading fw-normal lh-1">Matsuura H-Plus 630</h2>
      <p class="lead fs-6">Horizontal Machining Center With Renishaw OP90 Probe</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'images/machines/MatsuuraHPlus630.jpeg'%}" alt=""class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="350" height="350"  >
    </div>
  </div>

  <!-- machine -->
  <div class="row featurette px-5 mt-5 mb-4">
    <div class="col-md-7 mt-5">
      <h2 class="featurette-heading fw-normal lh-1">Fadal VMC-6030</h2>
      <p class="lead fs-6">Three Axis Vertical Machining Center</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'images/machines/fadal.png'%}" alt=""class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400"  >
    </div>
  </div>


  <!-- machine -->
  <div class="row featurette px-5 mt-5 mb-4">
    <div class="col-md-7 order-md-2 mt-5">
      <h2 class="featurette-heading fw-normal lh-1">Toshiba TSS-C 30/55</h2>
      <p class="lead fs-6">Vertical Lathe With Live Tooling</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'images/machines/tss-series.jpg'%}" alt=""class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400"  >
    </div>
  </div>

  <!-- machine -->
  <div class="row featurette px-5 mt-5 mb-4">
    <div class="col-md-7 mt-5">
      <h2 class="featurette-heading fw-normal lh-1">Shibura TUE 200s</h2>
      <p class="lead fs-6">Vertical Lathe With Live Tooling</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'images/machines/tue-200.jpeg'%}" alt=""class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400"  >
    </div>
  </div>
</div>




