{% extends 'main1.html' %}
{% load static %}
{% block content%}


{% include 'EngineeringPage/navBar.html'%}
{% include 'EngineeringPage/solidworks.html'%}
{% include 'EngineeringPage/mastercamExp.html'%}

{% include 'EngineeringPage/introText.html'%}
{% include 'EngineeringPage/setupSheet.html'%}
<div style="height: 5vh;"></div>


{% include 'EngineeringPage/cncSimIntro.html'%}

<div class="container-fluid py-5 text-white" style="background-color: #330072;">
  <div style="height: 25vh;"></div>
  <div class="p-5 text-center rounded-3">
    <h2 class="featurette-heading fw-normal text-center lh-1 m-5 fs-1 te slideanim">In my journey, I've been fortunate to be involved in the production of nuclear components for Power Generation Stations in <span class="fw-bold">Canada </span>and <span class="fw-bold">worldwide.</span></h2>
  </div>
  <div style="height: 25vh;"></div>
</div>


<div style="height: 5vh;"></div>
<!-- cnc machines -->
<div class="container">
  {% include 'EngineeringPage/cncMachinesOutter.html'%}
</div>


{% include 'EngineeringPage/footer.html'%}







{%endblock%}