{% extends 'main.html' %}
{% load static %}
{% block content%}

{% include 'EngineeringPage/setupSheet.html'%}
<div style="height: 10vh;"></div>


<video width="100%" class="name-image-before" autoplay muted loop playback="3">
  <source src="{% static 'videos/MachSim_Video_20231107_101540.mp4'%}" type="video/mp4">
Your browser does not support the video tag.
</video>

<div class="container-fluid py-5">
  {% include 'EngineeringPage/section.html'%}
  <div style="height: 15vh;"></div>
</div>



<div class="container-fluid py-5 text-white" style="background-color: #330072;">
  <div style="height: 25vh;"></div>
  <div class="p-5 text-center rounded-3">
    <h2 class="featurette-heading fw-normal text-center lh-1 m-5 fs-1 te slideanim">In my journey, I've been fortunate to be involved in the production of nuclear components for Power Generation Stations in <span class="fw-bold">Canada </span>and <span class="fw-bold">worldwide.</span></h2>
  </div>
  

  <div style="height: 25vh;"></div>
</div>
<div class="container" style="padding-bottom: 75px;">
  {% include 'EngineeringPage/me_overviw.html'%}
</div>

<!-- cnc machines -->
<div class="container">
  {% include 'EngineeringPage/cncMachinesOutter.html'%}
</div>


{% include 'components/footer.html'%}
{%endblock%}