{% load static%}
<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis"> <span class="text-danger font-weight-bold">CNC </span>Programming</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">With five years of experience as a Manufacturing Engineer, I have honed my skills in CNC programming, Having programmed various 3-axis, 5-axis, and turn mill machines, such as the DMG ECOLINE 50, Mecof, Matsuura H-Plus 630, and Toshiba TUES</p>
    </div>
    <div class="overflow-hidden rounded-5" style="max-height: 40vh;">
      <div class="container px-5">
        <img src="{% static 'code/image8.PNG'%}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>