{% load static %}

<div class="row mt-5 text-center">
  <h1 class="text-body-emphasis my-5 fw-bold">Things I do</h1>
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-1" width="140" height="140" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false" src="{% static 'code/IMG_1385.jpg'%}">
    <h2 class="fw-normal">3D Modelling</h2>
    <p>Using SolidWorks, I create precise 3D model</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-1" width="140" height="140" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"  src="{% static 'code/IMG_1384.jpg'%}" >
    <h2 class="fw-normal">Machining</h2>
    <p>With Mastercam, I craft CNC programs for metal machining</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-1" width="140" height="140" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"  src="{% static 'code/IMG_1384.jpg'%}">
    <h2 class="fw-normal">Blueprints</h2>
    <p>And lastly,  I create detailed 2D drawings for seamless project execution</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

