{% load static %}
<main class="container pb-5">
    <div class="row g-4 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <img src="{% static 'code/cnc1.png'%}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
        <div class="feature col">
            <img src="{% static 'code/cnc5.png'%}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>

        <div class="feature col h-50">
            <img src="{% static 'code/cnc2.png'%}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>


    <video width="100%" class="name-image-before rounded-5 shadow-lg" autoplay muted loop playback="3">
        <source src="{% static 'code/video1.mp4'%}" type="video/mp4">
      Your browser does not support the video tag.
      </video>
  </main>