<h3>Professional Experience</h3>
<div style="display: flex; justify-content: space-between;">
  <p>
    <strong>CNC Setter/Operator</strong><br /><em>Stackpole International — Stratford, ON</em>
  </p>
  <p><em>2018 – 2019</em></p>
</div>

<ul>
  <li>
    Set up and operate CNC machines, ensuring precision manufacturing according to technical specifications.
  </li>
  <li>
    Read and interpret blueprints and engineering drawings to produce high-quality components.
  </li>
  <li>
    Monitor machine operations, adjust settings, and perform tool changes to maintain optimal performance.
  </li>
  <li>
    Perform quality inspections using calipers, micrometers, and other measurement tools to meet strict tolerances.
  </li>
  <li>
    Maintain a clean and organized workspace, adhering to safety and industry standards.
  </li>
  <li>Collaborate with production teams to optimize machining processes and improve efficiency.</li>
</ul>

<div style="display: flex; justify-content: space-between;">
  <p><strong>Laser CNC Operator</strong><br /><em>Laser Metal Profiles — Cambridge, ON</em></p>
  <p><em>May 2017 – August 2017</em></p>
</div>

<ul>
  <li>
    Assisted in setting up and operating of Laser CNC machines under the supervision of senior operators.
  </li>
  <li>
    Gained hands-on experience with G-code programming and minor machine adjustments.
  </li>

  <li>Conducted inspections and measurements to maintain product quality.</li>
  <li>Learned and followed workplace safety protocols and machine maintenance procedures.</li>
</ul>