<h3><strong>Professional Summary</strong></h3>
<p style="text-align: justify;">
  Detail-oriented Machine Operator with hands-on experience in CNC machining and laser operations. Skilled in setup,
  operation, and maintenance to ensure precision and efficiency. Strong knowledge of safety protocols, quality control,
  and troubleshooting. Experienced in reading blueprints and collaborating with teams to meet production goals. Eager to
  apply my skills in a dynamic manufacturing environment.
</p>