<h3>Tools & Software</h3>
<ul data-spread="false">
    <li>
        <p><span><strong>CAD/CAM Software:</strong></span><span> Mastercam and Solidworks</span></p>
    </li>
    <li>
        <p><span><strong>CNC Control Systems:</strong></span><span> Fanuc, Haas, Siemens, Mazak</span></p>
    </li>
    <li>
        <p><span><strong>Measurement &amp; Inspection Tools:</strong></span><span> Calipers, micrometers, coordinate
                measuring machines (CMM)</span></p>
    </li>
    <li>
        <p><span><strong>Programming Languages:</strong></span><span> G-code, M-code</span></p>
    </li>
    <li>
        <p><span><strong>Office &amp; Documentation:</strong></span><span> Microsoft Office Suite (Word, Excel), ERP/MRP
                systems</span></p>
    </li>
</ul>