<div class="project" style="margin-top: 10px;">
    <p><strong>Automated Data Processing & Reporting System</strong><br />Technologies: <em>Python, Django, Pandas,
            Openpyxl, JobBoss E2 API, RESTful APIs, JavaScript</em></p>
    <ul>
        <li>Built a scalable system to automatically collect, process, and analyze real-time production and scheduling
            data from JobBoss E2 ERP reducing manual work by 90%, improving efficiency and
            accuracy.</li>
        <li>Implemented a reliable backend with Django and Python to manage API integrations, process data, and generate
            reports—ensuring smooth data flow and real-time updates.</li>
        <li>Applied responsive design to ensure seamless access across all devices using HTML, CSS, JavaScript, and
            Tailwind CSS.</li>
    </ul>
</div>