<div class="project" style="margin-top: 10px;">
    <p><strong>Automated Data Processing & Reporting System</strong><br />Technologies: <em>Python, Django, Pandas,
            Openpyxl, JobBoss E2 API, RESTful APIs, JavaScript</em></p>
    <ul>
        <li>Built a scalable system to automate data collection and reporting from JobBoss E2 ERP, cutting manual work
            by 90% and
            boosting accuracy.</li>
        <li>Developed a Django backend to handle RESTful APIs, process real-time production data, and generate reports.
        </li>
        <li>Designed a responsive front end with HTML, CSS, JavaScript, and Tailwind for smooth access across all
            devices.</li>
    </ul>
</div>