<div class="project" style="margin-top: 10px;">
    <p><strong>Automated Data Processing & Reporting System</strong><br />Technologies: <em>Python, Django, Pandas,
            Openpyxl, JobBoss E2 API, RESTful APIs, HTML, CSS, JavaScript</em></p>
    <ul>
        <li>Designed and implemented a scalable system to extract,
            transform, and analyze real-time production and scheduling data from the JobBoss E2 ERP system, reducing
            manual
            data
            processing
            time by 90% and eliminating human errors</li>
        <li>Developed a robust backend using Django and Python to handle API
            integrations, data
            processing, and report generation, ensuring seamless data flow and real-time updates.</li>
        <li>Integrated web development technologies such as HTML, CSS, JavaScript and Tailwind CSS to enhance the user
            interface,
            making the dashboards more intuitive and accessible across multiple devices, while incorporating responsive
            design for a
            seamless user experience.</li>
    </ul>
</div>