<div class="project" style="margin-top: 10px;">
    <p><strong>Clip Genius – Automated Video Highlight Generator</strong><br />Technologies: <em>Python, OpenCV,
            Tesseract OCR, FFmpeg, Multi-Threading, NumPy</em></p>
    <ul>
        <li>Developed an automated sports highlight generator using Python, OpenCV, and OCR; achieved 90% scoreboard
            detection
            accuracy.</li>
        <li>Implemented multi-threaded video analysis to speed up processing by 40% and improve large file handling.
        </li>
        <li>
            Improved OCR score extraction accuracy by 15% through image optimization with Gaussian blur and
            thresholding.</li>
    </ul>
</div>