<div class="project" style="margin-top: 10px;">
    <p><strong>Clip Genius – Automated Video Highlight Generator</strong><br />Technologies: <em>Python, OpenCV,
            Tesseract OCR, FFmpeg, Multi-Threading, NumPy</em></p>
    <ul>
        <li>At the Laurier Analytics Hackathon (Google Waterloo), built a video processing tool that automatically
            creates sports
            highlight reels. Used computer vision and OCR to identify scoreboards and extract game scores with 90%
            accuracy.</li>
        <li>Built a parallel processing system for video analysis using multi-threading, achieving 40% faster
            performance and
            reliable handling of large video files.</li>
        <li>
            Optimized image quality using Gaussian blur and thresholding techniques to boost OCR accuracy by 30% for
            more reliable
            score extraction.
        </li>
    </ul>
</div>