<div class="project" style="margin-top: 10px;">
    <p><strong>Clip Genius – Automated Video Highlight Generator</strong><br />Technologies: <em>Python, OpenCV,
            Tesseract OCR, FFmpeg, Multi-Threading, NumPy</em></p>
    <ul>
        <li>During Laurier Analytics Hackathon at Google Waterloo, designed and implemented a video processing
            application
            to automate highlight clip generation for sports videos, leveraging computer vision and OCR to detect
            scoreboards and extract scores with 90% accuracy.</li>
        <li>Developed a multi-threaded processing system to analyze video segments concurrently, reducing processing
            time
            by 40% and
            enabling efficient handling of large video files.</li>
        <li>
            Applied image preprocessing techniques (e.g., Gaussian blur, thresholding) to enhance OCR accuracy and
            improve
            score
            extraction.
        </li>
    </ul>
</div>