<div class="project1">
    <p><strong>Data Analysis | Workforce Data Visualization Project</strong></p>
    <p class="tech-stack"><strong>Technologies:</strong> Python, Dash, Plotly, Pandas, Gunicorn</p>

    <ul class="project-accomplishments">
        <li>Built an interactive data dashboard to visualize employment trends from the 2021 Canadian Census using
            Python, Dash, and Plotly, enabling users to explore workforce data by region, occupation, education, and
            gender</li>
        <li>Processed and cleaned large datasets (~100K+ records) by removing irrelevant columns, normalizing occupation
            and gender labels, and grouping education levels using Pandas, improving data quality and analysis
            efficiency.</li>
        <li>Developed modular components including data models, charting functions, and front-end views to enhance
            scalability and maintainability of the application</li>
        <li>Integrated interactive filters and dropdowns to allow users to segment data by province, occupation
            category, and
            education level, improving user engagement and insight discovery.</li>
    </ul>
</div>