<div class="project1">
    <p><strong>Data Analysis | Workforce Data Visualization Project</strong> <br><span
            class="tech-stack">Technologies:<em>
                Python, Dash, Plotly, Pandas, Gunicorn </em></span></p>

    <ul class="project-accomplishments">
        <li>Built an interactive data dashboard to visualize employment trends from the 2021 Canadian Census data using
            Python, Dash, and Plotly, enabling users to explore workforce trends by region, occupation, education, and
            gender.</li>
        <li>Cleaned and processed dataset (100K+ records) to improve data quality and analysis efficiency.
            Used
            Pandas to
            remove unnecessary columns, standardize categories, and group education levels into
            meaningful categories.</li>
        <li>Built the app using the Model-View-Controller (MVC) architecture. Created reusable modules for data
            handling, chart
            displays, and user interfaces to make the app easier to scale and maintain.</li>
    </ul>
</div>