<div class="project1">
    <p><strong>Data Analysis | Workforce Data Visualization Project</strong> <br><span
            class="tech-stack">Technologies:<em>
                Python, Dash, Plotly, Pandas, Gunicorn </em></span></p>

    <ul class="project-accomplishments">
        <li>Built an interactive dashboard with Dash and Plotly to visualize 2021 Canadian Census employment data by
            region,
            occupation, education, and gender.</li>
        <li>Cleaned and structured a dataset of 100K+ records using Pandas to boost data quality and analysis speed.
        </li>
        <li>Designed the app using MVC architecture with reusable modules for data processing, charts, and UI, improving
            scalability
            and maintainability.</li>
    </ul>
</div>