<div class="project" style="margin-top: 10px;">
    <p><strong>Personal Portfolio Website</strong><br />Technologies: <em>Django, JavaScript, MySQL, AWS, EC2 ,Route 53,
            Apache Webserver,
            SSL</em></p>
    <ul>
        <li>Developed a fully responsive portfolio website showcasing personal projects and skills, and deployed on
            AWS using an EC2 instance leveraging cloud scalability and performance</li>
        <li>Optimized domain management with AWS Route 53 while strengthening website security by implementing Let's
            Encrypt SSL certificates on the Apache web server,
            earning
            an 'A' rating from Qualys SSL Labs and with zero reported vulnerabilities.
        </li>
    </ul>
</div>