<div class="project" style="margin-top: 10px;">
    <p><strong>Personal Portfolio Website</strong><br />Technologies: <em>Django, JavaScript, MySQL, AWS EC2 ,Route 53,
            Apache Webserver,
            SSL</em></p>
    <ul>
        <li>Built and deployed a responsive personal portfolio website on AWS EC2 using Django and MySQL, leveraging
            cloud
            scalability and performance.</li>
        <li>Integrated Google Analytics to track user engagement and monitor site metrics.
        </li>
        <li>Configured domain with AWS Route 53 and secured the site using Let's Encrypt SSL on Apache, earning an 'A'
            rating from Qualys SSL Labs with zero reported vulnerabilities.
        </li>
    </ul>
</div>