body {
  background: rgb(204, 204, 204);
  font-size: 12px;
  padding: 0px;
  margin: 0%;
}
p,
h3 {
  margin: 0;
}
h3 {
  font-size: large;
}
ul {
  margin: 3px;
}
li{

  margin-bottom: 1px;
}
page[size="A4"] {
  background: rgb(255, 255, 255);
  width: 21cm;

  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  padding: 1%;
}
@media print {
  body,
  page[size="A4"] {
    margin: 0;
    box-shadow: 0;
    box-shadow: none;
    background-color: white;
    margin-left: 0.5%;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px; /* Optional: Adjust as needed */
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Optional: Adjust as needed */
}
