<!-- Machining -->
<div class="card bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
    <div class="aspect-w-4 aspect-h-3">
        <img class="w-full h-64 object-cover"
            src="https://github.com/jayd719/jayd719.github.io/blob/main/staticfiles/code/cnc1.png?raw=true"
            alt="CNC Machining with Mastercam" loading="lazy">
    </div>
    <div class="p-6">
        <div class="flex items-center justify-center w-12 h-12 bg-blue-100 rounded-full mb-4 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-600" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
            </svg>
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-3 text-center">Precision Machining</h3>
        <p class="text-gray-600 text-center">Expert CNC programming with Mastercam to deliver high-accuracy
            machined
            components from various materials.</p>
    </div>
</div>