<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <span class="fs-5 slideanim">From Alloys <span>To</span> Algorithms</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5 slideanim">
        <h1 class="display-5 fw-bold">CNCs I Have Programmed For</h1>
        <p class="col-md-12 fs-5">As a Manufacturing Engineer, I've had the privilege of working with a diverse range of CNC machines, from mills to vertical lathes equipped with live tools. My experience covers both 3-axis and 5-axis mills.</p>
        <!-- cnc Container -->
        <div class="container-fluid" id="custom-cards">
          <div class="row row-cols-1 row-cols-lg-5 mt-5">
            <div class="col" style="margin-top: 10px;">
              <div class="card card-cover h-75 overflow-hidden rounded-4 shadow-lg img-thumbnail" style="background-image: url('assets/images/machines/machines_resized/DMGEcomill.png'); background-size: contain; background-color: rgb(255, 255, 255);">
                <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">DMG ECO MILL</h3>
                </div>
              </div>
            </div>
      
            <div class="col" style="margin-top: 10px;">
              <div class="card card-cover h-75 overflow-hidden rounded-4 shadow-lg img-thumbnail" style="background-image: url('assets/images/machines/machines_resized/MatsuuraHPlus630.jpeg'); background-size: contain; background-color: rgb(255, 255, 255);">
                <div class="">
                  <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">DMG ECO MILL</h3>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col" style="margin-top: 10px;">
              <div class="card card-cover h-75 overflow-hidden rounded-4 shadow-lg" style="background-image: url('assets/images/machines/machines_resized/tue-200.jpeg'); background-size: contain; background-color: rgb(255, 255, 255);">
                <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="outline: #c00300;">DMG ECO MILL</h3>
                </div>
              </div>
            </div>
      
            <div class="col" style="margin-top: 10px;">
              <div class="card card-cover h-75 overflow-hidden rounded-4 shadow-lg" style="background-image: url('assets/images/machines/machines_resized/DMGEcoTurn310.jpeg'); background-size: contain; background-color: rgb(255, 255, 255);">
                <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                  <h3 class="pt-5 mt-5 mb-1 display-6 fw-bold" style="outline: #c00300;">DMG ECO MILL</h3>
                </div>
              </div>
            </div>
      
            <div class="col" style="margin-top: 10px;">
              <div class="card card-cover h-75 overflow-hidden rounded-4 shadow-lg" style="background-image: url('assets/images/machines/machines_resized/fadal.png'); background-size: contain; background-color: rgb(255, 255, 255);">
                <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="outline: #c00300;">DMG ECO MILL</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid text-align-center d-flex justify-content-end mb-5">
          <figcaption class="blockquote-footer text-body-secondary">
            and a few <cite title="Source Title">more...</cite>
          </figcaption>
        </div>
        
      
          <!-- skills -->
          
  </div>

      </div>
    </div>