<div class="container px-5 d-flex justify-content-center row g-5 sticky-top mt-5" style="top: -3rem;">
    <h1 class="display-6 text-center fw-bold">Currently, I am pursuing</h1>
    <div class="col-md-10">
    <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative" style="align-items: center;">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Wilfred Laurier University</strong>
        <h3 class="mb-0">B.Sc. Computer Science</h3>
        <div class="mb-1 text-body-secondary">Sep 2022-May 2026</div>
        <p class="card-text mb-auto">Bachelor of Science in Computer Science with concentration in Big Data</p>
        
      </div>
      <div class="col-auto d-none d-lg-block" style="padding: 20px; width: 25%;">
        <img class="bd-placeholder-img" width="100%" src="https://www.wlu.ca/_ato/dist/img/laurier-short.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
    </div>
  </div>
  <h1 class="display-6 text-center fw-bold">I also hold an</h1>
  <div class="col-md-10">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative " style="align-items: center;">
      <div class="col-auto d-none d-lg-block" style="padding: 20px;width: 13%; overflow: hidden;"> 
        <img class="bd-placeholder-img" width="200" src="https://www.conestogac.on.ca/_content/CorporateWebsiteWebLibrary/images/conestoga-logo.svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis">Conestoga College</strong>
        <h3 class="mb-0">Mechanical Eng: Automated Manufacturing</h3>
        <div class="mb-1 text-body-secondary">Sept 2016-August 2019</div>
        <p class="mb-auto">Advance Diploma in Mechanical Engineering: Automated Manufacturing</p>
      </div>
    </div>
</div> 
  </div>