<div class="col-11">
    <h1 class="display-4 fw-bold pb-4 mb-4  border-bottom border-success"><span class="text-success">Keen Observer,</span> <span>Quick Learner</span> </h1>
   
    <article class="blog-post">

        <p class="my-3">Highly motivated Computer Science student (Year 3) with a passion for applying innovative solutions to real-world
        problems. Leveraging 4 years of manufacturing engineering experience to translate technical knowledge into
        high-performing software solutions.</p>
      <hr>

      <p class="mb-4 mt-2">Known for my innovative thinking, quick learning ability, and keen observation, I bring a unique blend of technical proficiency and creative problem-solving to every project. I am not only passionate about the intricacies of computer science but also deeply interested in diverse fields such as mediation, electronics, design, history, law, and entrepreneurship. This broad range of interests enhances my ability to approach challenges from different perspectives, fostering a well-rounded and adaptive mindset.</p>
      
      <h2 class="fw-bold text-body-emphasis lh-1 mb-3 mt-5"> Worked as a <span class="text-success">Manufacturing Engineer</span></h2>
      
      <p class="">With five years of experience as a Manufacturing Engineer, I possess extensive experience in CNC programming and 3D modeling. In my previous role, I started as a Junior Manufacturing Engineer and progressed to Lead Manufacturing Engineer.</p>

      <p>This experience provided me with opportunities to work on diverse projects, including those for nuclear power plants.  I have programmed for various 3, 5-axis, and turn mills (DMG ECOLINE 50, Mecof, Matsuura H-Plus 630, Toshiba TUES, etc.). Along with creating CNC programs, I developed detailed manufacturing sketches and instructions, assisted with job routing, and made setup sheets.</p>
      
       
      <h4>Additionally,</h4>
      <ol>
        <li>I Developed and standardized cost-effective manufacturing processes.</li>
        <li>Designed and selected tools and fixtures, providing troubleshooting and technical support.</li>
        <li>Created and maintained standardized work instructions, including setup sheets.</li>
        <li>Developed standard program macros and parametric feature-based programs.</li>
      </ol>
      <p class="mb-5">As Lead for implementing lights-out machining on the Matsuura H-Plus 630, I sourced the necessary fixtures, tooling, and holders, successfully achieving an average of additional 5-6 hours of unmanned machining per day. This accomplishment directly translated to increased production efficiency.</p>
      
      

    <h2 class="fw-bold text-body-emphasis lh-1 mb-3 mt-5"><span class="text-success">Currently,</span> I am pursuing</span></h2>
      
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1">B.Sc. Computer Science</h2>
      <strong class="d-inline-block mb-2 text-primary-emphasis">Wilfred Laurier University</strong>
      <p class="card-text mb-auto">Bachelor of Science in Computer Science with concentration in Big Data</p>
     
     
      <h2 class="fw-bold text-body-emphasis lh-1 mb-3 mt-5"><span class="text-success">I also </span> Hold a</span></h2>
      <h2 class="display-5 link-body-emphasis mb-1">Mechanical Eng: Automated Manufacturing</h2>
      <strong class="d-inline-block mb-2 text-primary-emphasis">Conestoga College</strong>
      <p class="mb-auto">Advance Diploma in Mechanical Engineering: Automated Manufacturing</p>

  

  </div>