<div class="container-fluid">
    <header class="border-bottom lh-1 py-3">
          <h1 class="display-1 the-cord" style="text-align: center; font-weight: 900;">THE CORD</h1>
    </header>
  
    <div class="nav-scroller py-1 mb-3 border-bottom">
      <nav class="nav nav-underline justify-content-center" style="align-items: center; scale: .8;" >
        <img src="https://jayd719.github.io/assets/images/flags/united-kingdom.png" alt="" width="40px">
        <img src="https://jayd719.github.io/assets/images/flags/canada.png" alt="" width="40px">
        <img src="https://jayd719.github.io/assets/images/flags/india.png" alt="" width="40px">
        <span id="dateEml" style="padding: 0px 20px; font-size: x-large; font-weight: 300;">Thursday August 30, 1978 - Seven Pages</span>
        <img src="https://jayd719.github.io/assets/images/flags/usa.png" alt="" width="40px">
        <img src="https://jayd719.github.io/assets/images/flags/germany.png" alt="" width="40px">
        <img src="https://jayd719.github.io/assets/images/flags/united-kingdom.png" alt="" width="40px">
      </nav>
    </div>
  </div>