<div class="container-fluid mt-2 mb-4">
      <nav class="nav nav-underline justify-content-end" style="align-items: center; scale: .8;" >
        <img src="https://jayd719.github.io/assets/images/flags/india.png" alt="" width="40px">
        <img src="https://jayd719.github.io/assets/images/flags/united-kingdom.png" alt="" width="40px">
        <img src="https://jayd719.github.io/assets/images/flags/canada.png" alt="" width="40px">
        <img src="https://jayd719.github.io/assets/images/flags/usa.png" alt="" width="40px">
      </nav>
  </div>