<div class="b-example-divider h-100 p-5" >
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="row row-cols-2 row-cols-sm-4 row-cols-md-5 row-cols-lg-6 g-5 py-6 badge1 text-center slideanim">
        <div class="col">
            <img class="" src="assets/images/logos/python.png" alt="">
        </div>
        <div class="col">
            <img src="assets/images/logos/solidworks.png" alt="">
        </div>
        <div class="col">
         <img src="assets/images/logos/django.png" alt="">
        </div>
        <div class="col">
          <img src="assets/images/logos/java.png" alt="">
        </div>
  
        <div class="col">
          <img src="assets/images/logos/mastercam.png" alt="">
        </div>
        <div class="col">
          <img src="assets/images/logos/java-script.png" alt="">
        </div>
        <div class="col">
          <img src="assets/images/logos/cpu.png" alt="">
        </div>
  
        <div class="col">
          <img src="assets/images/logos/bootstrap.png" alt="">
        </div>
        <div class="col">
          <img src="assets/images/logos/html.png" alt="">
        </div>
        <div class="col d-flex justify-content-center" style="align-items: center;">
          <img style="scale: 2;" src="assets/images/logos/spring.svg" alt="">
        </div>
        <div class="col">
          <img src="assets/images/logos/design.png" alt="">
        </div>
        <div class="col">
          <img src="assets/images/logos/laser-cutting-machine.png" alt="">
        </div>
      </div>
    </div>
    
  </div>
