<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis border my-5">
    <div class="col px-0">
      <h1 class="display-4 fw-bold"><span class="text-danger">Keen Observer,</span> <span>Quick Learner</span> </h1>
      <p class="lead my-3">Highly motivated Computer Science student (Year 3) with a passion for applying innovative solutions to real-world
        problems. Leveraging 4 years of manufacturing engineering experience to translate technical knowledge into
        high-performing software solutions.</p>
    </div>
  </div>