<div class=" mb-4 rounded text-body-emphasis  my-5">
    <div class="col px-0">
      <h1 class="display-4 fw-bold"><span class="text-danger">Keen Observer,</span> <span>Quick Learner</span> </h1>
      <p class="my-3 lead">Highly motivated Computer Science student (Year 3) with a passion for applying innovative solutions to real-world
        problems. Leveraging 4 years of manufacturing engineering experience to translate technical knowledge into
        high-performing software solutions.</p>
    </div>
  </div>

  <div class="mb-5">
    <div class="">
      <h1 class="fw-bold text-body-emphasis lh-1 mb-3"> Worked as A <span class="text-success">Manufacturing Engineer</span></h1>
      <p class="text-justify lead">With five years of experience as a Manufacturing Engineer, I possess extensive experience in CNC programming and 3D modeling. In my previous role, I started as a Junior Manufacturing Engineer and progressed to Lead Manufacturing Engineer.</p>
    </div>
  </div>
  <div style="height: 20vh;"></div>