
<div class="grid align-content-center bg-[#cc011b] p-2 overflow-hidden">
    <img class="h-100 w-full lip" src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">  
</div>
<div class="h-screen bg-[#cc011b]"></div>
<!-- <div class="h-screen bg-gradient-to-b from-[#cc011b] from-10%  to-base-100 to-100%"></div>


<div class="h-64 bg-gradient-to-b from-base-100 from-10%  to-[#f8f8f8] to-100%"></div>
<div class="bg-[#f8f8f8] overflow-hidden">
    <img class="lip" src="https://images.unsplash.com/photo-1491553895911-0055eca6402d?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
</div> -->

<style>
    .lip{
        animation: flip 200s infinite;
    }
    @keyframes flip {
    0%{
        transform: rotate(0deg);
    }   
    25%     {
    transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(10deg);
    }

    100%{
        transform: rotate(0deg);
    }
}
</style>