<div class="h-24 hidden lg:flex"></div>
<div>
    <h1 class="text-center text-white font-bold text-4xl mb-10">Shop By Style</h1>
    <div class="grid grid-cols-2 lg:grid-cols-4 justify-center px-5 md:px-10 gap-5 lg:mt-10">
        
        <div class="border-4 border-red-700 rounded-3xl overflow-hidden">
            <div class="card bg-base-100 shadow-xl border-0 group">
                <figure>
                  <img
                  class="group-hover:hover:scale-[1.25] transition duration-200"
                    src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/3f12c33f-de0d-4d7f-848a-b4eb273c2a7d/p-6000-shoes-Wzr4fb.png"
                    alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">
                    Meta Force I
                    <div class="badge bg-[#cc011b] text-white">NEW</div>
                  </h2>

                </div>
              </div>
        </div>

        <div class="border-4 border-red-700 rounded-3xl overflow-hidden">
            <div class="card bg-base-100 shadow-xl border-0 group">
                <figure>
                  <img class="group-hover:hover:scale-[1.25] transition duration-200"
                    src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/a154f539-1f19-419a-90f4-c2441121ba3e/tech-hera-shoes-MDKjfk.png"
                    alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">
                    Penege II
                    <div class="badge badge-secondary">NEW</div>
                  </h2>

                </div>
              </div>
        </div>

        <div class="border-4 border-red-700 rounded-3xl overflow-hidden group">
            <div class="card bg-base-100 shadow-xl border-0">
                <figure>
                  <img class="group-hover:hover:scale-[1.25] transition duration-200"
                    src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/c96aa540-e0e6-42b8-84c9-419cf03f2d28/air-force-1-07-shoes-N8vt06.png"
                    alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">
                    Meta Force III
                    <div class="badge bg-[#cc011b] text-white">NEW</div>
                  </h2>

                </div>
              </div>
        </div>
        <div class="border-4 border-red-700 rounded-3xl overflow-hidden">
            <div class="card bg-base-100 shadow-xl border-0 group">
                <figure>
                  <img class="group-hover:hover:scale-[1.25] transition duration-200"
                    src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/74a7f4fc-fa9b-4f22-b8c2-ac68bd1d3c8e/air-huarache-runner-shoes-0ctMF4.png"
                    alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">
                    Shoes!
                    <div class="badge bg-success p-3 text-white animate-bounce">Sale</div>
                  </h2>

                </div>
              </div>
        </div>
      
      </div>
</div>