
<div class="flex justify-center">
    <div class="stats stats-vertical lg:stats-horizontal my-10 text-center border border-[#cc011b] border-4 shadow shadow-[#cc011b]">
        <div class="w-96 mt-5 ">
          <img class="mx-auto w-36 mb-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW1yk_RFCi_zwOcUrKxWA20CwdXDsrOpoA5g&amp;s" alt="">
          <p class="font-bold text-3xl">Unbeatable Prices</p>
          <p class="text-sm mt-2 text-gray-500 mb-5">Skip the lines, wait times and get your cash and notebooks hassle-free.</p>
        </div>
      
        <div class="w-96 mt-5">
          <img class="mx-auto w-36 mb-5" src="https://png.pngtree.com/png-clipart/20230103/original/pngtree-100-premium-quality-icon-vector-images-transparent-download-png-image_8864507.png" alt="">
          <p class="font-bold text-3xl">Premium Quality</p>
          <p class="text-sm mt-2 text-gray-500 mb-5">Skip the lines, wait times and get your cash and notebooks hassle-free.</p>
        </div>
      
        <div class="w-96 mt-5">
          <img class="mx-auto w-36 mb-5" src="https://t4.ftcdn.net/jpg/00/68/28/31/360_F_68283163_bD1ll5FxZN6NZYjmoPKMPmTL0QcM89ta.jpg" alt="">
            <p class="font-bold text-3xl">Easy Access</p>
            <p class="text-sm mt-2 text-gray-500 mb-5">Skip the lines, wait times and get your cash and notebooks hassle-free.</p>
        </div>
      </div>
</div>