<footer class="ya lg:vc">
    <div class="a e sa ab">
        <div class="l w md:gc y ka md:hc md:ja ib rb j">
            <p>Copyright © 2021 Rance. All rights reserved.</p>
            <p>Images and texts from <a class="sb ub" href="https://dji.com" rel="nofollow" target="_blank">dji.com</a> | <a class="sb ub" href="https://unsplash.com" rel="nofollow" target="_blank">unsplash.com</a></p>
        </div>
        <div class="sm:ec lg:oc e">
            <p class="jb tb">Photos and texts are used to demonstrate the capabilities of the site template, please do not use them for commercial purposes.</p>
        </div>
    </div>
</footer>