{%include "projectsTiles/mainProjectsLink.html"%}

<div class="lg:col-span-2 shadow rounded-3xl px-8 duration-500">
  {%include "projectsTiles/project5.html"%}
</div>



<div class="lg:col-span-2 shadow rounded-3xl px-8 duration-500">
  {%include "projectsTiles/project3.html"%}
</div>
{%include "projectsTiles/resumeLink.html"%}
{%include "projectsTiles/project2.html"%} 
{%include "projectsTiles/CNCLink.html"%} 
{%include "projectsTiles/project1.html"%}

<div class="xl:col-span-2 shadow rounded-3xl px-8 duration-500">
  {%include "projectsTiles/project4.html"%}
</div>
{%include "projectsTiles/gitHubLink.html"%} 
{%include "projectsTiles/gitHubStats.html"%}
