<div class="grid auto-cols-max grid-flow-col gap-1 text-center">
  <div class="flex flex-col">
    <span class="countdown font-mono text-3xl" id="runs">
      0
    </span>
  </div>
  <div class="flex flex-col">
    <span class="countdown font-mono text-3xl">
      /
    </span>
  </div>
  <div class="flex flex-col h-full ">
    <span class="countdown font-mono text-4xl mt-2" id="wickets">
      0
    </span>
  </div>
</div>

<div>
  <h1><span id="over">0</span>.<span id="ballNo">0</span></h1>
</div>