<section class="container py-12 md:py-24 lg:py-32 xl:py-48 mx-auto px-5">
  <div class="flex flex-col items-center space-y-4 text-center lg:text-left">
    <h1 id="introTextOne" class="font-title text-center text-[clamp(2rem,6vw,4.2rem)] font-black leading-[1.1] pop">
      Manufacturing Experience
    </h1>
    <p class="text-2xl text-justify pop">
      With 5 years of hands-on experience as a Manufacturing Engineer and CNC
      Programmer, I specialize in creating optimized, efficient, and precise
      manufacturing processes. My work involves programming a variety of CNC
      machines, creating blueprints, and developing critical manufacturing
      documents like setup sheets. I thrive on streamlining operations and
      ensuring that production lines run smoothly.
    </p>
  </div>
  <div class="pt-10 flex flex-col md:flex-row gap-10 justify-center pop">
    <a href="#projects" class="border border-black hover:border-white hover:scale-[1.25] font-bold opacity-75 hover:opacity-100 p-2 hover:bg-base-100 rounded-3xl transtion duration-200 flex justify-start px-4 hover:cursor-pointer items-center gap-1 group" data-id="25">
      Projects
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right group-hover:rotate-[45deg] transition duration-300" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"></path>
        </svg>
      </a>
      <a href="#machines" class="border border-black hover:border-white hover:scale-[1.25] font-bold opacity-75 hover:opacity-100 p-2 hover:bg-base-100 rounded-3xl transtion duration-200 flex justify-start px-4 hover:cursor-pointer items-center gap-1 group" data-id="25">
        CNC Machines I've Programmed
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right group-hover:rotate-[45deg] transition duration-300" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"></path>
          </svg>
        </a>
  </div>
</section>
