<!-- Experience Section -->
<div class="bg-base-200 py-16">
  <div class="container mx-auto max-w-5xl px-4">
    <h2 class="text-3xl font-bold mb-8">Professional Experience</h2>
    <div class="grid gap-6">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="flex justify-between">
            <div>
              <h3 class="text-xl font-semibold">Lead Manufacturing Engineer</h3>
              <p class="text-base-content/60">Canadian Babbitt Bearings — Brantford, ON</p>
            </div>
            <p class="text-base-content/60">2023 – 2024</p>
          </div>
          <ul class="list-disc pl-4 space-y-2 mt-4">
            <li>Led manufacturing department operations and ensured adherence to production schedules
            </li>
            <li>Spearheaded lights-out machining implementation, increasing production capacity by 30%
            </li>
            <li>Acted as liaison between management and shop floor</li>
            <li>Provided mentorship and training to junior team members</li>
          </ul>
        </div>
      </div>

      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="flex justify-between">
            <div>
              <h3 class="text-xl font-semibold">Manufacturing Engineer</h3>
              <p class="text-base-content/60">Canadian Babbitt Bearings — Brantford, ON</p>
            </div>
            <p class="text-base-content/60">2020 – 2023</p>
          </div>
          <ul class="list-disc pl-4 space-y-2 mt-4">
            <li>Created and optimized CNC programs for multi-axis machining centers</li>
            <li>Designed standardized CNC template programs to enhance consistency</li>
            <li>Programmed lathes with live tooling operations</li>
          </ul>
        </div>
      </div>


      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="flex justify-between">
            <div>
              <h3 class="text-xl font-semibold">Jr Manufacturing Engineer</h3>
              <p class="text-base-content/60">Canadian Babbitt Bearings — Brantford, ON</p>
            </div>
            <p class="text-base-content/60">2019 – 2020</p>
          </div>
          <ul class="list-disc pl-4 space-y-2 mt-4">
            <li>Designed solid models and fixtures using SolidWorks, ensuring accurate and efficient setups for
              challenging machining tasks.</li>
            <li>Reverse-engineered products and components as needed, utilizing calipers, micrometers, and CMMs to
              develop detailed CAD models</li>
          </ul>
        </div>
      </div>



    </div>
  </div>
</div>