{%load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <title>JD</title>
    <link rel="icon" href="https://jayd719.github.io/staticfiles/j.png" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{%static 'homepage.css'%}" />
  </head>
  <body class="bg-base-200 oswald">
    <header id="header"></header>
    <div class="h-16"></div>
    <script src="{%static 'header.js'%}"></script>
    {%include 'components/contact.html' %}

    {%include 'cnc_introSection.html' %}
    {%include 'key_projects.html' %}
    {%include 'exp.html' %}
    {%include 'machines.html' %}
    
    

   
                            
    {%include "landingPage/footerStatic.html"%}
   

    <script src="{%static 'themeChanger.js'%}"></script>
    <script src="{%static 'footer.js'%}"></script>
  </body>
</html>
