{% load static %}
<!-- Projects Section -->
<section class="py-20">
  <div class="container mx-auto max-w-6xl px-6">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-bold text-gray-800 mb-4 snap-start">Projects & Achievements</h2>
      <p class="text-lg text-gray-600 max-w-2xl mx-auto">Delivering innovative solutions through engineering and
        automation</p>
      <div class="w-24 h-1 bg-blue-600 mx-auto mt-6"></div>
    </div>

    <div class="grid gap-8 md:grid-cols-2">

      {%include 'cards_ME/project1.html'%}
      {%include 'cards_ME/project2.html'%}
      {%include 'cards_ME/project3.html'%}
      {%include 'cards_ME/project4.html'%}

    </div>
  </div>
</section>