{%load static%}
<!-- Projects Section -->
<div class="container mx-auto max-w-5xl px-4 py-16">
  <h2 class="text-3xl font-bold mb-8">Projects & Achievements</h2>
  <div class="grid gap-6 md:grid-cols-2">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="text-xl font-semibold">Lights-Out Machining for Matsuura H-Plus 630</h3>
        <p class="mt-2">Successfully implemented lights-out machining, increased production capacity by 30%
          through optimized machine utilization.</p>
      </div>
    </div>
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="text-xl font-semibold">Workflow Automation and Data Integration</h3>
        <p class="mt-2">Designed and deployed a custom data-processing application that integrated CRM
          outputs into dashboards, reports, and automated alerts.</p>
      </div>
    </div>






    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="text-xl font-semibold">Machine Simulator</h3>
        <p class="mt-2">Simulator for Toolpath Verification on Matsuura H-Plus 630 and DMG Ecomill 50.</p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="text-xl font-semibold">Setup Sheets Generation</h3>
        <p class="mt-2">One-click setup and tooling sheet generator.</p>
      </div>
    </div>
  </div>
</div>