{%load static %}
<video class="w-full name-image-before" autoplay muted loop>
    <source src="{%static 'videos/MachSim_Video_20231107_101540.mp4'%}" type="video/mp4">
    Your browser does not support the video tag.
</video>


<div class="py-5">
    <div class="container mx-auto py-5 mb-5 bg-base-100 shadow-3xl p-5">
        <div class="flex flex-col lg:flex-row items-center gap-5 py-1 mt-5">
            <div class="w-full lg:w-6/12 justify-center mt-5">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 py-5 justify-center">
                    <div class="relative rounded-lg shadow-lg h-80 bg-cover bg-center"
                        style="background-image: url('https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/39605f7f38d4d38da1beef2dc45b2ae2/original.jpg');">
                        <div class="flex flex-col h-full p-5 text-white bg-black bg-opacity-50">
                            <h5 class="mt-auto text-lg font-bold">DMG ECOMILL 50</h5>
                        </div>
                    </div>

                    <div class="relative rounded-lg shadow-lg h-80 bg-cover bg-center"
                        style="background-image: url('https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/c760562cada3c017bb9544c84a8e5f92/large.jpg');">
                        <div class="flex flex-col h-full p-5 text-white bg-black bg-opacity-50">
                            <h5 class="mt-auto text-lg font-bold">DMG</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full lg:w-6/12">
                <h1 class="text-3xl font-bold  leading-tight">Machine Simulation</h1>
                <p class="text-lg  mb-2">
                    This project aims to offer an immersive virtual experience of operating the
                    <strong class="font-bold">DMG EcoMill 50</strong> and <strong class="font-bold">Matsuura HPlus
                        630</strong> CNC milling machines. Through this simulation, users can visualize and simulate
                    machining processes without the need for physical setup.
                </p>
            </div>
        </div>

        <!-- <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 py-2">
                  <div class="flex flex-col items-start">
                      <div class="flex items-center justify-center w-12 h-12 bg-blue-500 text-white rounded-full mb-3">
                          <svg class="w-6 h-6">
                              <use xlink:href="#collection"></use>
                          </svg>
                      </div>
                      <h3 class="text-2xl font-bold ">Featured title</h3>
                      <p class="">
                          Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                          sentence and probably just keep going until we run out of words.
                      </p>
                      <a href="#" class="text-blue-500 mt-2 flex items-center">
                          Call to action
                          <svg class="w-4 h-4 ml-1">
                              <use xlink:href="#chevron-right"></use>
                          </svg>
                      </a>
                  </div>
  
                  <div class="flex flex-col items-start">
                      <div class="flex items-center justify-center w-12 h-12 bg-blue-500 text-white rounded-full mb-3">
                          <svg class="w-6 h-6">
                              <use xlink:href="#people-circle"></use>
                          </svg>
                      </div>
                      <h3 class="text-2xl font-bold ">Featured title</h3>
                      <p class="">
                          Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                          sentence and probably just keep going until we run out of words.
                      </p>
                      <a href="#" class="text-blue-500 mt-2 flex items-center">
                          Call to action
                          <svg class="w-4 h-4 ml-1">
                              <use xlink:href="#chevron-right"></use>
                          </svg>
                      </a>
                  </div>
  
                  <div class="flex flex-col items-start">
                      <div class="flex items-center justify-center w-12 h-12 bg-blue-500 text-white rounded-full mb-3">
                          <svg class="w-6 h-6">
                              <use xlink:href="#toggles2"></use>
                          </svg>
                      </div>
                      <h3 class="text-2xl font-bold ">Featured title</h3>
                      <p class="">
                          Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                          sentence and probably just keep going until we run out of words.
                      </p>
                      <a href="#" class="text-blue-500 mt-2 flex items-center">
                          Call to action
                          <svg class="w-4 h-4 ml-1">
                              <use xlink:href="#chevron-right"></use>
                          </svg>
                      </a>
                  </div>
              </div> -->
    </div>

</div>