<!-- Skills Section -->
<div class="container mx-auto max-w-5xl px-4 py-16">
  <h2 class="text-3xl font-bold mb-8">Key Skills</h2>
  <div class="flex flex-wrap gap-2">
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card card">CNC Programming</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">CAD/CAM Software</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">G Code</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Lights-Out Machining</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Mastercam</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">SolidWorks</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">C#</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Python</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">C/C++</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Process Improvement</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Tool & Fixture Design</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Reverse Engineering</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">MySQL</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Technical Troubleshooting</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">.Net Framework</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Team Leadership</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Quality Control</span>
    <span class="badge badge-lg bg-base-100 p-4 shadow-lg card">Microsoft Office</span>
  </div>
</div>