<div class="container mx-auto max-w-6xl px-6 py-20">
    <div class="text-center mb-16">
        <h2 class="text-4xl font-bold  mb-4">From <span class="text-primary">Model</span> to <span
                class="text-error">Machine</span> to
            <span class="text-info">Manual</span>
        </h2>
        <p class="text-lg  max-w-2xl mx-auto">My Approach to Precision Engineering Solutions</p>
    </div>

    <div class="grid md:grid-cols-3 gap-10">



        {%include 'cards_ME/skill1.html'%}
        {%include 'cards_ME/skill2.html'%}
        {%include 'cards_ME/skill3.html'%}
    </div>
</div>