<div class="container mx-auto py-12 my-12">
    <div class="text-center mt-5">
        <h1 class="text-3xl font-bold my-5 my-12">Things I Do</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- 3D Modelling -->
            <div class="flex flex-col items-center">
                <img class="rounded-md w-72 h-72 opacity-75 hover:opacity-100 hover:scale-[.8] object-cover"
                    src="https://github.com/jayd719/webServer/blob/main/templates/static/code/IMG_1385.jpg?raw=true"
                    alt="3D Modelling">
                <h2 class="text-xl font-medium mt-4">3D Modelling</h2>
                <p class=" text-center">Using SolidWorks, I create precise 3D models</p>
            </div>
            <!-- Machining -->
            <div class="flex flex-col items-center">
                <img class="rounded-md w-72 h-72 opacity-75 hover:opacity-100 hover:scale-[.8] object-cover "
                    src="https://github.com/jayd719/webServer/blob/main/templates/static/code/IMG_1384.jpg?raw=true"
                    alt="Machining">
                <h2 class="text-xl font-medium mt-4">Machining</h2>
                <p class=" text-center">With Mastercam, I craft CNC programs for metal machining</p>
            </div>
            <!-- Blueprints -->
            <div class="flex flex-col items-center">
                <img class="rounded-md w-72 h-72 opacity-75 hover:opacity-100 hover:scale-[.8] object-cover"
                    src="https://github.com/jayd719/webServer/blob/main/templates/static/code/IMG_1384.jpg?raw=true"
                    alt="Blueprints">
                <h2 class="text-xl font-medium mt-4">Blueprints</h2>
                <p class=" text-center">And lastly, I create detailed 2D drawings for seamless project
                    execution</p>
            </div>
        </div>
    </div>
</div>