{%load static%}
<div class="container mx-auto max-w-5xl px-4 py-16">
    <div class="flex flex-col lg:flex-row-reverse items-center gap-5 py-5">
        <div class="w-10/12 sm:w-8/12 lg:w-6/12">
            <img src="https://github.com/jayd719/webServer/blob/main/templates/static/code/Image1.PNG?raw=true"
                class="mx-auto lg:mx-0 w-full max-w-lg rounded-lg" alt="Bootstrap Themes" width="700" height="500"
                loading="lazy">
        </div>
        <div class="lg:w-6/12">
            <h1 class="text-3xl font-bold  leading-tight mb-3">Tooling Sheetings For Mastercam</h1>
            <p class="text-lg ">Integrated with Mastercam, meticulously designed to streamline the
                machining process by providing machinists with all the essential tooling details required to set up
                the
                machine accurately and efficiently.</p>
            <div class="flex gap-2 justify-start mt-3">
                <a href="{% static 'sampleSetupSheet.pdf'%}" target="_blank" class="btn btn-primary">Sample
                    Tooling Sheet</a>
            </div>
        </div>
    </div>

    <div class="grid gap-4 py-5 grid-cols-1 lg:grid-cols-3">
        <div class="bg-base-100 rounded-lg shadow-3xl p-4">
            <div class="flex items-center justify-center bg-base-100  text-2xl mb-3 rounded-lg">
                <img src="https://github.com/jayd719/webServer/blob/main/templates/static/code/tool3.png?raw=true"
                    alt="" class="w-full">
            </div>
            <h3 class="text-2xl  mt-5">Tool Information</h3>
            <p class="text-justify ">In a dynamic job shop environment, where setups are frequent and
                time
                is critical, having comprehensive setup sheets can make a significant difference in productivity and
                accuracy. Each setup sheet catalogs the tools used by the programmer including vital information
                like
                cutter diameter, flute length, and number of flutes.</p>
        </div>

        <div class="bg-base-100 rounded-lg shadow-3xl p-4">
            <div class="flex items-center justify-center bg-base-100  text-2xl mb-3 rounded-lg">
                <img src="https://github.com/jayd719/webServer/blob/main/templates/static/code/tool4.png?raw=true"
                    alt="" class="w-full">
            </div>
            <h3 class="text-2xl ">Machining Operations</h3>
            <p class="">Each setup sheet outlines the sequence of operations required to complete the
                machining job. This includes a clear breakdown of the individual steps involved, ensuring that
                machinists are fully informed about the scope and complexity of the job.</p>
        </div>

        <div class="bg-base-100 rounded-lg shadow-3xl p-4">
            <div class="flex items-center justify-center bg-base-100  text-2xl mb-3 rounded-lg">
                <img src="https://github.com/jayd719/webServer/blob/main/templates/static/code/tool1.png?raw=true"
                    alt="" class="w-1/2">
            </div>
            <h3 class="text-2xl  mt-3">Tool Assembly</h3>
            <p class="">Describes the style of tool holder required for each tool, ensuring
                compatibility
                with the machine's tooling system. Provides a visual of tool assembly.</p>
        </div>
    </div>
</div>