{% load static%}
<div class="px-2 md:px-10 mt-10 mpt-10">
  <div class="grid gap-10 xl:grid-cols-2 justify-center px-5 mt-10">

    <a href="{%url 'sorting'%}">
      <div id="card1" class="w-80 sm:w-96 bg-base-200 shadow-xl hover:scale-[1.05] hover:bg-base-100 transition transition-delay-200 overflow-hidden rounded-box">
          <figure class="">
            <img src="https://plus.unsplash.com/premium_vector-1683133672136-ef44e7a5e9c7?bg=FFFFFF&q=80&w=2760&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Shoes" class="rounded-xl" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Sorting Alogrithms</h2>
            <p>Data Structues & Algorithms</p>
          </div>
    </div>
    </a>


    <a href="{%url 'engineeringPage'%}">
      <div id="card1" class="w-80 sm:w-96 bg-base-200 shadow-xl hover:scale-[1.05] hover:bg-base-100 transition transition-delay-200 overflow-hidden rounded-box">
          <figure class="">
            <img src="{% static 'code/cnc2.png'%}" alt="Shoes" class="rounded-xl" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">CNC Section</h2>
            <p>CNC Programming</p>
          </div>
    </div>
    </a>

    
</div>

</div>

