<div class="w px-2 md:px-10 py-10 mt-10 mb-10">
  <div class="grid gap-10 xl:grid-cols-3 justify-center px-5 mt-10 mb-10">

    <a href="{%url 'sorting'%}">
      <div id="card1" class="w-80 sm:w-96 bg-base-200 shadow-xl hover:scale-[1.05] hover:bg-base-100 transition transition-delay-200 overflow-hidden p-4 rounded-box">
      {% include 'DSA/headingVIS.html'%}
    </div>
    </a>

    <a href="{%url 'sorting'%}">
      <div id="card1" class="w-80 sm:w-96 bg-base-200 shadow-xl hover:scale-[1.05] hover:bg-base-100 transition transition-delay-200 overflow-hidden p-4 rounded-box">
      {% include 'DSA/headingVIS.html'%}
    </div>
    </a>
   
</div>

</div>

