

<div class="py-10 hero-content flex-col lg:flex-row p-4 md:p-10 mx-auto w-screen">
  <div class="menu p-10 bg-base-200 rounded-box mx-auto gap-2 shadow-xl">
    <div class="stat-desc">Sorting Alogrithm</div>
    <select class="select  w-full max-w-xs" id="sortSelector">
      <option selected>Selection Sort</option>
      <option>Bubble Sort</option>
    </select>

    <div class="stat-desc">Speed</div>
    <select class="select w-full max-w-xs speed">
        <option>1</option>
        <option>2</option>
        <option>10</option>
        <option>50</option>
        <option selected>100</option>
      </select>
    
    <div
      class="preview border-base-300 bg-base-100 rounded-b-box rounded-se-box flex min-h-[6rem] min-w-[18rem] max-w-4xl flex-wrap items-center justify-center gap-2 overflow-x-hidden bg-cover bg-top p-4 [border-width:var(--tab-border)] undefined"
    >
      <input
        type="range"
        id="range-slider"
        min="0"
        max="100"
        class="range range-primary max-w-xs"
        value="12"
      />
    </div>

    <div class="shadow stats">
      <div class="stat">
        <div class="stat-title">Nodes</div>
        <div class="stat-value" id="slider-value">89,400</div>
      </div>
    </div>
    <button class="btn btn-primary mb-10" onclick="selectionSort();">Sort</button>

    <div class="shadow stats">
      <div class="stat">
        <div class="stat-title">Total Comparisons</div>
        <div class="stat-value" id="checks">0</div>
        <div class="stat-desc"></div>
      </div>
    </div>
  </div>

  
  <div  class="p-2 md:p-10 w-full h-[80vh]">
    <div class="mt-1 mb-5">
      <h2 class="font-title relative z-[2] mx-auto text-[clamp(2rem,6vw,4.5rem)] font-black leading-none text-center">
          Sorting Alogrithm
          <span class="inline-grid">
            <span class="pointer-events-none col-start-1 row-start-1 bg-[linear-gradient(90deg,theme(colors.error)_0%,theme(colors.secondary)_9%,theme(colors.secondary)_42%,theme(colors.primary)_47%,theme(colors.accent)_100%)] bg-clip-text opacity-70 blur-3xl [-webkit-text-fill-color:transparent] [transform:translate3d(0,0,0)] [:root[dir=rtl]_&amp;]:leading-[1.35] [@supports(color:oklch(0%_0_0))]:bg-[linear-gradient(90deg,oklch(var(--s))_4%,color-mix(in_oklch,oklch(var(--s)),oklch(var(--er)))_22%,oklch(var(--p))_45%,color-mix(in_oklch,oklch(var(--p)),oklch(var(--a)))_67%,oklch(var(--a))_100.2%)]" aria-hidden="true">Visualizer</span> 
            <span style="opacity:1" class="[&amp;::selection]:text-base-content relative col-start-1 row-start-1 leading-tight motion-reduce:!opacity-100 [&amp;::selection]:bg-blue-700/20 bg-[linear-gradient(90deg,theme(colors.error)_0%,theme(colors.secondary)_9%,theme(colors.secondary)_42%,theme(colors.primary)_47%,theme(colors.accent)_100%)] bg-clip-text [-webkit-text-fill-color:transparent] [@supports(color:oklch(0%_0_0))]:bg-[linear-gradient(90deg,oklch(var(--s))_4%,color-mix(in_oklch,oklch(var(--s)),oklch(var(--er)))_22%,oklch(var(--p))_45%,color-mix(in_oklch,oklch(var(--p)),oklch(var(--a)))_67%,oklch(var(--a))_100.2%)]">Visualizer</span>
          </span>
        </h2> 
      <p class="text-center text-base-content/70 font-title relative z-[2] py-4 font-light md:text-3xl">visualizing the step-by-step process of sorting data</p> 
    </div>

    <div id="div" class="grid grid-cols-12 gap-1">
        <div id="ds" class="btn btn-primary">isd</div>
    </div>
    
  </div>

  <script>
    function getRandomNumber(upperLimit) {
      return Math.floor(Math.random() * upperLimit);
    }

    const sleep = (delay) =>
      new Promise((resolve) => setTimeout(resolve, delay));

    document.addEventListener("DOMContentLoaded", function () {
      const rangeSlider = document.getElementById("range-slider");
      const sliderValue = document.getElementById("slider-value");
      const div = document.getElementById("div");

      // Function to update the span with the slider value
      function updateSliderValue() {
        let rangeSilderValue = parseInt(rangeSlider.value);
        sliderValue.textContent = rangeSilderValue;
        let div = document.getElementById("div");
        div.innerHTML = "";

        if (rangeSilderValue < 1) {

          div.innerHTML =
            `<h2 id="textHeading" class="text-[clamp(2.5rem,6vw,4.5rem)] font-bold leading-none">${document.getElementById('sortSelector').value}</h2>`;
        }

        for (i = 0; i < rangeSilderValue; i++) {
          let Node = document.createElement("div");
          Node.className = `node btn btn-primary transition-duration-500 ease-in-out appear1 `;
          Node.innerText = getRandomNumber(101);
          div.append(Node);
          console.log(rangeSilderValue);
        }
      }

      // Add event listener to the slider to call the function on input
      rangeSlider.addEventListener("input", updateSliderValue);

      // Initial update to set the default value
      updateSliderValue();
    });

    const selectionSort = async () => {
      const nodes = document.querySelectorAll(".node");
      const length = nodes.length;

      let checks = 0;
      for (let i = 0; i < length; i++) {
        for (let j = i + 1; j < length; j++) {
          if (parseInt(nodes[i].innerText) > parseInt(nodes[j].innerText)) {
            // Swap the innerText values of nodes[i] and nodes[j]
            let temp = nodes[i].innerText;
            nodes[i].innerText = nodes[j].innerText;
            nodes[j].innerText = temp;
          }

          nodes[i].style.scale = 1.08;
          nodes[j].style.scale = 1.08;
          nodes[i].className = "btn btn-error";
          nodes[j].className = "btn btn-warning";
          checks++;
          document.getElementById("checks").innerText = checks;

          await sleep(101 -parseInt(document.querySelector(".select.w-full.max-w-xs.speed").value));
          console.log(101 -parseInt(document.querySelector(".select.w-full.max-w-xs.speed").value))

          nodes[i].style.scale = 1.0;
          nodes[j].style.scale = 1.0;
          nodes[j].className = "btn btn-primary";
        }
        nodes[i].className = "btn btn-success";
      }
    };
  </script>
</div>
