<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Card</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen p-4">
    <div class="max-w-2xl w-full bg-white rounded-lg shadow-lg overflow-hidden border">
        <div class="p-8 text-gray-800">
            <div class="flex flex-col md:flex-row justify-between items-start">
                <div class="max-w-md mb-6 md:mb-0">
                    <h1 class="text-2xl font-bold leading-tight mb-4 text-gray-800">
                        I’m a tech enthusiast diving into the exciting worlds of AI/ML, Python Programming, and Computer Vision.
                    </h1>
                    <!-- <p class="text-xl text-gray-800">~Jashandeep Singh</p> -->
                </div>
                <div class="">
                    <img src="https://github.com/jayd719/jayd719.github.io/blob/main/assets/images/code/qrCode.png?raw=true" alt="QR Code" width="450" height="450" />
                </div>
            </div>
        </div>
        
        <div class="bg-emerald-200 p-8" >
            <div class="grid md:grid-cols-2 gap-8">
                <div>
                    <h2 class="text-2xl font-bold mb-4 ">Jashandeep Singh</h2>
                    <div class="text-sm text-gray-700">
                        <a class="nav-link" href="mailto:jashansingh29@gmail.com" class="text-lg">jashansingh29@gmail.com</a>
                        <div class="flex justify-start content-center gap-2 align-center">
                              <a class="nav-link" href="https://jashandeep.co.uk" class="text-lg">jashandeep.co.uk</a>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>