{%load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{%static 'homepage.css'%}" />
  </head>
  <body class="bg-base-300 oswald">
    <header id="header"></header>
    <div class="h-16"></div>
    <script src="{%static 'header.js'%}"></script>
    {%include 'components/contact.html' %}
    <section class="p-4 mx-auto">
      <div class="grid grid-cols-1 gap-5 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-3 xl:grid-rows-4">
        <div class="lg:row-span-2 shadow rounded-3xl px-8  duration-500">
          <p class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight">
            Hey, welcome to my website!
          </p>
          <p id="outputObject1"></p>
        </div>

        {%include "projectsTiles/mainProjectsLink.html"%}

        <div class="lg:row-span-2 flex flex-col justify-center lg:row-start-2 md:grid-cols-2 md:grid md:items-center md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 shadow">
          <div class="">
            {%include 'landingPage/skills.html'%}
          </div>
        </div>

        {%include "projectsTiles/resumeLink.html"%}
        {%include "projectsTiles/CNCLink.html"%}

        

        <div class="flex flex-col p-8 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 shadow">
          {%include 'landingPage/contact.html'%}
        </div>

        <div class="shadow rounded-3xl p-8 lg:row-start-4 h-full flex flex-col justify-between">
          {%include "landingPage/qoute.html"%}
        </div>

       
        
      </div>
    </section>


   
                            
    {%include "landingPage/footerStatic.html"%}
    <script src="{%static 'homepage.js'%}"></script>
    <script src="{%static 'themeChanger.js'%}"></script>
    <script src="{%static 'animations.js'%}"></script>
  </body>
</html>
