{%load static%}
<div class="">
    <div class="text-center">
        <p class="text-xl font-normal tracking-tight font-title lg:text-7xl group-hover:text-green-800 group-hover:scale-[1.075] transtion duration-500">
            Tools and Technologies I Use
          </p>
    </div>
    <div>
        <div class="mt-10 mb-10 py-10">
            <div class="flex gap-3 lg:gap-16 items-center justify-center mt-10 flex-wrap">
            <img class="w-12 w1000" src="https://www.svgrepo.com/show/354238/python.svg" alt="">
            <img class="w-12 w1000" src="https://www.svgrepo.com/show/452234/java.svg" alt="">
            <img class="w-12 w1000" src="https://www.svgrepo.com/show/303251/mysql-logo.svg" alt="">
            <img class="w-12 w1000" src="https://www.svgrepo.com/show/448266/aws.svg" alt="">
            <img class="w-12 w1000" src="https://www.svgrepo.com/show/373528/cpp3.svg" alt="">
            <img class="w-12 w1000" src="https://www.svgrepo.com/show/373554/django.svg" alt="">    
            </div>

            <div class="flex gap-3 lg:gap-16 items-center justify-center mt-10 flex-wrap">
                <img class="w-12 w1000" src="https://www.svgrepo.com/show/354004/linux-tux.svg" alt="">
                <img class="w-12 w1000" src="{% static 'images/logos/solidworks.png'%}" alt=""> 
                <img class="w-12 w1000" src="https://www.svgrepo.com/show/376350/spring.svg" alt="">
                <img class="w-12 w1000" src="https://www.svgrepo.com/show/374118/tailwind.svg" alt="">
                <img class="w-12 w1000" src="https://www.svgrepo.com/show/452210/git.svg" alt="">
                
            </div>

            <div class="flex gap-3 lg:gap-16 items-center justify-center mt-10 flex-wrap">
                <img class="w-12 w1000" src="https://www.svgrepo.com/show/353463/aws-sqs.svg" alt=""> 
                <img class="w-12 w1000" src="https://www.svgrepo.com/show/354440/tensorflow.svg" alt="">   
                <img class="w-12 w1000 scale-[.9]" src="https://www.svgrepo.com/show/303293/bootstrap-4-logo.svg" alt=""> 
                <img class="w-12 w1000" src="https://www.svgrepo.com/show/331488/mongodb.svg" alt=""> 
            </div>

            <div class="flex gap-3 lg:gap-16 items-center justify-center mt-10 flex-wrap">
                <img class="w-12 w1000" src="https://www.svgrepo.com/show/373979/platformio.svg" alt="">
                <img class="w-12 w1000" src="{% static 'images/logos/mastercam.png'%}" alt=""> 
                <img class="w-12 w1000" src="https://www.svgrepo.com/show/373705/js-official.svg" alt=""> 
            </div>
            
        </div>
    </div>
</div>


<script>
    function getRandomNumber(upperLimit) {
          return Math.floor(Math.random() * upperLimit);
        }
        let times = [150,200,200,500,700,100]
    
        document.querySelectorAll('.w-12.w1000').forEach(image => {
          let time = 
          image.className=`w-12 md:w-20 transition animateBottom duration-${times[getRandomNumber(times.length)]} delay-${times[getRandomNumber(times.length)]}`
        });
      </script>