{%load static%}
<div class="px-10">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            Other Tools and Technologies I Use
        </p>
    </div>
    <div class="grid grid-cols-4 lg:grid-cols-3 gap-10 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto">

        <!-- Docker -->
        <div class="flex flex-col items-center group transition-all duration-300 hover:-translate-y-1">
            <div class="transition-colors duration-300">
                <img src="https://www.svgrepo.com/show/452192/docker.svg" alt="Amazon Web Services"
                    class="w-20 h-20 object-contain" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium  group-hover:text-white transition-colors">Docker</span>
        </div>

        <!-- AWS -->
        <div class="flex flex-col items-center group transition-all duration-300 hover:-translate-y-1">
            <div class="transition-colors duration-300">
                <img src="https://www.svgrepo.com/show/448266/aws.svg" alt="Amazon Web Services"
                    class="w-20 h-20 object-contain" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium  group-hover:text-white transition-colors">AWS</span>
        </div>



        <!-- SolidWorks -->
        <div class="flex flex-col items-center group transition-all duration-300 hover:-translate-y-1">
            <div class="transition-colors duration-300">
                <img src="{% static 'images/logos/solidworks.png' %}" alt="SolidWorks" class="w-20 h-20 object-contain"
                    loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium  group-hover:text-white transition-colors">SolidWorks</span>
        </div>



        <!-- Git -->
        <div class="flex flex-col items-center group transition-all duration-300 hover:-translate-y-1">
            <div class="transition-colors duration-300">
                <img src="https://www.svgrepo.com/show/452210/git.svg" alt="Git" class="w-20 h-20 object-contain"
                    loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium  group-hover:text-white transition-colors">Git</span>
        </div>

        <!-- AWS SQS -->
        <div class="flex flex-col items-center group transition-all duration-300 hover:-translate-y-1">
            <div class="transition-colors duration-300">
                <img src="https://www.svgrepo.com/show/353463/aws-sqs.svg" alt="AWS SQS"
                    class="w-20 h-20 object-contain" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium  group-hover:text-white transition-colors">AWS
                SQS</span>
        </div>



        <!-- Mastercam -->
        <div class="flex flex-col items-center group transition-all duration-300 hover:-translate-y-1">
            <div class="transition-colors duration-300">
                <img src="{% static 'images/logos/mastercam.png' %}" alt="Mastercam" class="w-20 h-20 object-contain"
                    loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium  group-hover:text-white transition-colors">Mastercam</span>
        </div>

        <!-- VS Code -->
        <div class="flex flex-col items-center group transition-all duration-300 hover:-translate-y-1">
            <div class="transition-colors duration-300">
                <img src="https://www.svgrepo.com/show/452129/vs-code.svg" alt="Visual Studio Code"
                    class="w-20 h-20 object-contain" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium  group-hover:text-white transition-colors">VS
                Code</span>
        </div>

        <!-- Eclipse -->
        <div class="flex flex-col items-center group transition-all duration-300 hover:-translate-y-1">
            <div class="transition-colors duration-300">
                <img src="https://www.svgrepo.com/show/353685/eclipse-icon.svg" alt="Eclipse IDE"
                    class="w-20 h-20 object-contain" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium  group-hover:text-white transition-colors">Eclipse</span>
        </div>
    </div>



</div>