<div class="flex gap-5 text-start auto-cols-max justify-center px-5">
    <div class="flex flex-col">
      <span class=" font-mono text-5xl">
        <span id="days"></span>
      </span>
      days
    </div> 
    <div class="flex flex-col">
      <span class="font-mono text-5xl">
        <span  id="hours"></span>
      </span>
      hours
    </div> 
    <div class="flex flex-col">
      <span class=" font-mono text-5xl">
        <span  id="mins"></span>
      </span>
      min
    </div> 
    <div class="flex flex-col">
      <span class="font-mono text-5xl">
        <span  id="secs"></span>
      </span>
      sec
    </div>
  </div>
  