{% extends 'main.html' %}
{%load static%}
{% block content%}



<!-- divider -->
{% include 'components/introText.html'%}
<div class="d" id="cards"></div>

<div class="h-48"></div>
<div class="w-full mt-10 px-10">
    {%include 'components/resume.html'%}
  </div>
  <div class="h-48"></div>
{% include 'projects/currently.html'%}
{% include 'components/techs.html'%}

<div id="mm"></div>
<script src="{% static 'projectView.js'%}"></script>



<!-- <a
href="{% url 'projects-page' %}"
class="btn btn-outline  btn-wide"
>things I'm working on</a
> -->



<script src="{% static 'app.js'%}"></script>

{%endblock%}