{% load static %}
<div class="container py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-4 col-sm-8 col-lg-4">
        <div class="loader"></div>
        <!-- <img src="https://images.ctfassets.net/4pxjo1vaz7xk/MTY4NTAwMjg5MzE2MTM/ac125f245d17c11ef3b6482375f8ee15/Landing-page-hand-app-home-4x5-EN.jpg?w=3840&q=75" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> -->
        <!-- <img src="{% static 'images/image3.jpg' %}" class="d-block mx-lg-auto img-fluid loader shadow-lg" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> -->
        
      </div>
      <div class="col-lg-8">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4">Technologies I'm Skilled In</h1>
        {% include 'components/technologies.html'%}
    </div>
    <div class="container px-5  d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'projects-page' %}"  type="button" class="btn btn-dark px-5 py-2 me-md-2 rounded-5">Know More</a>
    </div>
  </div>
</div>

  <style>
/* HTML: <div class="loader"></div> */
.loader {
  width: 55px;
  aspect-ratio: 1;
  --g1:conic-gradient(from  90deg at top    3px left  3px,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
  background:
    var(--g1),var(--g1),var(--g1),var(--g1), 
    var(--g2),var(--g2),var(--g2),var(--g2);
  background-position: 0 0,100% 0,100% 100%,0 100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l11 1.5s infinite;
}
@keyframes l11 {
  0%   {background-size:35px 15px,15px 15px,15px 35px,35px 35px}
  25%  {background-size:35px 35px,15px 35px,15px 15px,35px 15px}
  50%  {background-size:15px 35px,35px 35px,35px 15px,15px 15px}
  75%  {background-size:15px 15px,35px 15px,35px 35px,15px 35px}
  100% {background-size:35px 15px,15px 15px,15px 35px,35px 35px}
}


  </style>
