<div class="py-5 mb-5" id="featured-3">
  <div class="contianer">
    <h1 class="display-5 fw-bold pb-2">Things I Do</h1>
    <p class="lead">My academic pursuits have instilled in me a deep appreciation for the intersection of technology and creativity, I am deeply fascinated by the limitless potential that emerges at the intersection of </p>
  </div>
    
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col px-5 mt-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center mb-3">
          <img src="https://images.unsplash.com/photo-1666875753105-c63a6f3bdc86?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="w-100 rounded-3" alt="">
        </div>
        <h3 class="fs-5 text-body-emphasis fw-bold">Big Data</h3>
        <p>Analyzing complex datasets to reveal patterns and trends, Enabling data-driven decision-making at scale</p>
      </div>

      <div class="feature col px-5 mt-5">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center mb-3 ">
          <img src="https://images.unsplash.com/photo-1518314916381-77a37c2a49ae?q=80&w=2971&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="w-100 rounded-3" alt="">
        </div>
        <h3 class="fs-5 text-body-emphasis fw-bold">Computer Vision</h3>
        <p>Developing algorithms to interpret visual information, object recognition, image classification, and autonomous navigation</p>
      </div>

      <div class="feature col px-5 mt-5" >
        <div class="feature-icon d-inline-flex align-items-center justify-content-center mb-3 rounded-5">
          <img src="https://images.unsplash.com/photo-1666618090858-fbcee636bd3e?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="w-100 rounded-3" alt="">
        </div>
        <h3 class="fs-5 text-body-emphasis fw-bold">CNC Machining</h3>
        <p>Writing code to control computer numerical control (CNC) machines. Combining software and hardware to automate machining tasks.</p>
      </div>      
    </div>
  </div>