<div class="grid gap-10 px-10 xl:grid-cols-3 justify-cente text-center">
   
    <a class="btn h-24 border btn-outline group" href="{% url 'projects-page'%}">
      <h2 class="font-title relative z-[2] mx-auto text-3xl font-black leading-none mb-2 group-hover:-translate-x-2 group-hover:-translate-y-2 transition duration-100">Development</h2>  
    </a>

    <a class="btn h-24 border btn-outline group" href="{% url 'projects-page'%}">    
      <h2 class="font-title relative z-[2] mx-auto text-3xl font-black leading-none mb-2 group-hover:-translate-x-2 group-hover:-translate-y-2 transition duration-100">Big Data</h2>  
    </a>

    <a class="btn h-24 border btn-outline group" href="{% url 'engineeringPage'%}">
  
      <h2 class="font-title relative z-[2] mx-auto text-3xl font-black leading-none mb-2 group-hover:-translate-x-0 group-hover:-translate-y-2 transition duration-100">CNCs</h2>  
    </a> 

  </div>