<div class="grid gap-10 px-10 xl:grid-cols-3 justify-center">
   
    <a href="{% url 'projects-page'%}">
        <div id="card1" class="card w-96 mx-auto bg-base-100 shadow-xl hover:scale-[1.05] transition delay-3 border border-base-300 animateBottom">
          <figure><img class="h-72 w-full" src="https://plus.unsplash.com/premium_vector-1682310979404-d8b3a7789482?bg=FFFFFF&q=80&w=3216&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Django" /></figure>
          <div class="card-body">
            <h2 class="font-title relative z-[2] mx-auto text-3xl font-black leading-none mb-2">Development</h2>
            <p class="text-justify text-sm">Discover my portfolio of development projects, including web applications, mobile apps, and software solutions. See how I implement the latest technologies and best practices in coding and programming.</p>
          </div>
        </div>
    </a>

    <a href="{% url 'projects-page'%}">    
      <div id="card2" class="card w-96 mx-auto bg-base-100 shadow-xl hover:scale-[1.05] transition delay-3 border border-base-300 animateBottom" >
        <figure><img class="h-72" src="https://plus.unsplash.com/premium_vector-1711987723335-09a7959c443e?bg=FFFFFF&q=80&w=3322&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Big Data" /></figure>
        <div class="card-body">
          <h2 class="font-title relative z-[2] mx-auto text-3xl font-black leading-none mb-2">Big Data</h2>
          <p class="text-justify text-sm">Explore my work in big data, featuring projects on data analytics, machine learning, and data visualization. See how I leverage big data tools and techniques to drive insights and innovation.</p>
        </div>
      </div>
    </a>

    <a href="{% url 'engineeringPage'%}"><div id="card3" class="card w-96 mx-auto bg-base-100 shadow-xl hover:scale-[1.05] transition delay-3 border border-base-300 animateBottom">
      <figure><img  class="" src="https://plus.unsplash.com/premium_vector-1682300809036-4038cc032b33?bg=FFFFFF&q=80&w=2844&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="CNCs" /></figure>
      <div class="card-body">
        <h2 class="font-title relative z-[2] mx-auto text-3xl font-black leading-none mb-2">CNCs</h2>
        <p class="text-justify text-sm">Take a look at my CNC programming and machining projects. View examples of precision manufacturing, programming techniques, and how I optimize processes for efficiency and accuracy.</p>
      </div>
    </div></a> 

  </div>