{% load static %}

<div class="chat chat-end animateRight">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img alt="Tailwind CSS chat bubble component" src="https://media.licdn.com/dms/image/D5603AQHIdTpgUOnB3g/profile-displayphoto-shrink_200_200/0/1693327786531?e=2147483647&v=beta&t=FackbGd8iJkaH2jGNKrhdih6NvC0IuxOjGEvLJk-P94" />
    </div>
  </div>
  <div class="chat-header">
    Jay D <time id="timeSpan1" class="text-xs opacity-50">12:46</time>
  </div>
  <div id="typeBox1" class="chat-bubble bg-info text-black">
    Discover my professional journey and qualifications by checking out my resume.</div>
</div>
<div id="messageBox2" class="chat chat-end nsv" style="transition-duration: .5s; transition-delay: 1s;">
 
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img alt="Tailwind CSS chat bubble component" src="https://media.licdn.com/dms/image/D5603AQHIdTpgUOnB3g/profile-displayphoto-shrink_200_200/0/1693327786531?e=2147483647&v=beta&t=FackbGd8iJkaH2jGNKrhdih6NvC0IuxOjGEvLJk-P94" />
    </div>
  </div>
  <div class="chat-bubble bg-info text-black"><a href="https://jashandeep.co.uk/static/Resume-JashandeepSingh.pdf" target="_blank"><figure><img class="w-[75px] hover:scale-[1.05]" src="{% static 'resume.png'%}" alt=""> </figure></a></div>
</div>


<script> 
</script>


<style>
.loaders {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1.1s infinite linear;
  scale: .5;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
</style>
