{% load static %}
 
<a href="https://jashandeep.co.uk/static/Resume-JashandeepSingh.pdf" target="_blank" class="">
    <div class="card w-96 bg-base-100 shadow-xl hover:scale-[1.05] transition duration-150 ease-in-out p-2 pt-5 text-left border border-2 border-success">
    <figure><img class="w-[200px]" src="{% static 'resume.png'%}" alt=""> </figure>
    <div class="card-body">
      <h2 class="card-title">
        Resume
      </h2>
      <p>Discover my professional journey and qualifications by checking out my resume.</p>
      <div class="card-actions justify-end mt-5">
        <div class="badge badge-success text-white p-3"> <span>updated 2 Days ago</span> </div>
      </div>
    </div>
  </div></a>

