<style>
    .ball{
   background-color: orange;
   box-shadow: 0 0 35px 5px yellow,0 0 25px 10px yellow inset
 }
 </style>

<div class="w-full px-2 lg:px-10">
  <div class="sticky top-0 pt-10 text-center" style="z-index: 10;">
    <div class="bg-info  pointer-events-none absolute bottom-0 left-1/2 aspect-square w-1/2 -translate-x-1/2 rounded-full opacity-10 blur-3xl">
  </div>

    <h2 class="appear font-title relative z-[2] mx-auto text-[clamp(2rem,6vw,4.5rem)] font-black leading-none will-change-auto motion-reduce:!transform-none" style="transform: scale(1); opacity: 1">
    Exploring, Learning, and Applying: Developing My Skill Set
    </h2>
    <div class="h-72"></div>
  </div>

  <div class="grid gap-10 p-6 xl:grid-cols-3 justify-center px-5">
   
    <div class="card w-80 sm:w-96 bg-base-100 shadow-xl appear" style="transition-delay: .5s;">
      <figure><img src="https://plus.unsplash.com/premium_vector-1682311194007-88eabc4de424?bg=FFFFFF&q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Django" /></figure>
      <div class="card-body">
        <h2 class="font-title relative z-[2] mx-auto text-3xl font-black leading-none mb-2">Django</h2>
        <p class="text-justify text-sm">Delving deeper into Django’s robust features. This included mastering Django’s ORM (Object-Relational Mapping), which simplifies database interactions, and learning to implement authentication, URL routing, and form handling. I also worked on creating RESTful APIs using Django REST framework to build scalable and maintainable web applications</p>
      </div>
    </div>

    <div class="card w-80 sm:w-96 bg-base-100 shadow-xl animateBottom" style="transition-delay: .2s;">
      <figure><img src="https://plus.unsplash.com/premium_vector-1682309081920-d2725d3e620c?bg=FFFFFF&q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Big Data" /></figure>
      <div class="card-body">
        <h2 class="font-title relative z-[2] mx-auto text-3xl font-black leading-none mb-2">Big Data</h2>
        <p class="text-justify text-sm">The world of Big Data is vast and constantly evolving. My journey began with understanding the fundamental concepts of Big Data, such as the 3 Vs: Volume, Velocity, and Variety. I explored various data processing frameworks and tools like Hadoop and Spark to grasp how massive datasets are managed and analyzed</p>
      </div>
    </div>

    <div class="card w-80 sm:w-96  bg-base-100 shadow-xl appear" style="transition-delay: .7s;">
      <figure><img src="https://plus.unsplash.com/premium_vector-1682300809036-4038cc032b33?bg=FFFFFF&q=80&w=2844&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="CNCs" /></figure>
      <div class="card-body">
        <h2 class="font-title relative z-[2] mx-auto text-3xl font-black leading-none mb-2">CNCs</h2>
        <p class="text-justify text-sm">To deepen my knowledge, I studied G-code programming, which is essential for controlling CNC machines. I also learned about CAD (Computer-Aided Design) and CAM (Computer-Aided Manufacturing) software, which are used to design and translate those designs into machine-readable instructions. This phase involved hands-on practice with various CNC simulators and machines.</p>
      </div>
    </div>

  </div>
  <div class="h-32"></div>
  <div class="h-32"></div>
  <div class="h-32"></div>
</div>



