<style>
    .ball{
   background-color: orange;
   box-shadow: 0 0 35px 5px yellow,0 0 25px 10px yellow inset
 }
 </style>
<div class="w-full px-2 lg:px-10">
  <div class="sticky top-0 pt-40 text-center" style="z-index: 10;">
    <div
      class="bg-info  pointer-events-none absolute bottom-0 left-1/2 aspect-square w-1/2 -translate-x-1/2 rounded-full opacity-10 blur-3xl"
    >
</div>
    <h2
      class="font-title relative z-[2] mx-auto text-[clamp(2rem,6vw,4.5rem)] font-black leading-none will-change-auto motion-reduce:!transform-none"
      style="transform: scale(1); opacity: 1"
    >
      daisyUI is the most popular<br />component library for Tailwind&nbsp;CSS
    </h2>
    <div class="h-32"></div>
  </div>
  <div class="h-100vh"style='height:20vh'></div>
  <div class="grid gap-10 p-6 xl:grid-cols-3">
    <div
      class="flex flex-col items-center gap-4 will-change-auto motion-reduce:!transform-none"
      style="transform: translateY(0rem); opacity: 1"
    >
      <div
        class="font-title text-[clamp(2rem,6vw,4rem)] font-black tabular-nums"
      >
        <span class="motion-reduce:hidden"><span>Django</span></span>
        <span class="hidden motion-reduce:inline">Django</span>
      </div>
      <a
        href="https://github.com/saadeghi/daisyui"
        target="_blank"
        rel="noopener, noreferrer"
        class="text-base-content/70 hover:text-base-content hover:underline"
        data-svelte-h="svelte-1nno66b"
        >GitHub Stars</a
      >
    </div>
    <div
      class="flex flex-col items-center gap-4 will-change-auto motion-reduce:!transform-none"
      style="transform: translateY(0rem); opacity: 1"
    >
      <div
        class="font-title text-[clamp(2rem,6vw,4rem)] font-black tabular-nums"
      >
        <span class="motion-reduce:hidden"><span>Big Data</span></span>
        <span class="hidden motion-reduce:inline">211,866</span>
      </div>
      <a
        href="https://github.com/saadeghi/daisyui/network/dependents"
        target="_blank"
        rel="noopener, noreferrer"
        class="text-base-content/70 hover:text-base-content hover:underline"
        >open-source projects using daisyUI</a
      >
    </div>
    <div
      class="flex flex-col items-center gap-4 will-change-auto motion-reduce:!transform-none"
      style="transform: translateY(0rem); opacity: 1"
    >
      <div
        class="font-title text-[clamp(2rem,6vw,4rem)] font-black tabular-nums"
      >
        <span class="motion-reduce:hidden"><span>CNCs</span></span>
        <span class="hidden motion-reduce:inline">CNCs</span>
      </div>
      <a
        href="https://www.npmjs.com/package/daisyui"
        target="_blank"
        rel="noopener, noreferrer"
        class="text-base-content/70 hover:text-base-content hover:underline"
        >NPM Installs</a
      >
    </div>
  </div>
  <div class="h-100vh"style='height:30vh'></div>
  {% include 'components/technologies.html'%}
</div>
<div class="h-100vh" style="height: 50vh;"></div>
</div>


