<div
  class="pointer-events-none mx-auto flex max-w-xl flex-wrap justify-center gap-10 "
>
  <img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/svelte.svg"
    alt="daisyUI svelte"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/vue.svg"
    alt="daisyUI vue"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/react.svg"
    alt="daisyUI react"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/solidjs.svg"
    alt="daisyUI solidjs"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/preact.svg"
    alt="daisyUI preact"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/angular.svg"
    alt="daisyUI angular"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/qwik.svg"
    alt="daisyUI qwik"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/nextjs.svg"
    alt="daisyUI nextjs"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/nuxtjs.svg"
    alt="daisyUI nuxtjs"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/remix.svg"
    alt="daisyUI remix"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/11ty.svg"
    alt="daisyUI 11ty"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/vite.svg"
    alt="daisyUI vite"
  /><img
    loading="lazy"
    width="180"
    height="180"
    class="aspect-square h-10 w-10"
    src="https://img.daisyui.com/logos/astro.svg"
    alt="daisyUI astro"
  /><img
  loading="lazy"
  width="96"
  height="96"
  class="aspect-square h-10 w-10"
  src="https://img.daisyui.com/logos/vite.svg"
  alt="daisyUI vite"
/><img
  loading="lazy"
  width="96"
  height="96"
  class="aspect-square h-10 w-10"
  src="https://img.daisyui.com/logos/astro.svg"
  alt="daisyUI astro"
/><img
loading="lazy"
width="96"
height="96"
class="aspect-square h-10 w-10"
src="https://img.daisyui.com/logos/vite.svg"
alt="daisyUI vite"
/><img
loading="lazy"
width="96"
height="96"
class="aspect-square h-10 w-10"
src="https://img.daisyui.com/logos/astro.svg"
alt="daisyUI astro"
/>
</div>
