<div class="mt-10 mb-10 py-10">
    <h2 class="text-center text-slate-500 text-lg font-bold">Working with technologies</h2>
    <div class="flex gap-3 lg:gap-16 items-center justify-center mt-10 flex-wrap">
      <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/354238/python.svg" alt="">
      <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/452234/java.svg" alt="">
      <img class="w-12 md:w-20 scale-[1.3]" src="https://www.svgrepo.com/show/303251/mysql-logo.svg" alt="">
      <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/448266/aws.svg" alt="">
      <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/373528/cpp3.svg" alt="">
      <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/373554/django.svg" alt="">    
    </div>

    <div class="flex gap-3 lg:gap-16 items-center justify-center mt-8 flex-wrap">
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/354004/linux-tux.svg" alt="">
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/508968/solidworks.svg" alt="">
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/376350/spring.svg" alt="">
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/374118/tailwind.svg" alt="">
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/452210/git.svg" alt="">
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/373705/js-official.svg" alt="">  
      </div>

      <div class="flex gap-3 lg:gap-16 items-center justify-center mt-8 flex-wrap">
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/353463/aws-sqs.svg" alt=""> 
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/354440/tensorflow.svg" alt="">   
        <img class="w-12 md:w-20 scale-[.9]" src="https://www.svgrepo.com/show/303293/bootstrap-4-logo.svg" alt=""> 
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/373979/platformio.svg" alt="">
        <img class="w-12 md:w-20" src="https://www.svgrepo.com/show/331488/mongodb.svg" alt=""> 
      </div>
  </div>


  <div class="h-32"></div>