{% load static %}
    <div class="row row-cols-1 row-cols-sm-2 g-4 mb-5">
          <div class="col d-flex flex-column gap-2 px-5">
            <strong class="fs-6">Programming Langauges</strong>
            <!-- Icons -->
            <div class="list-group">
              <label
                class="list-group-item d-flex gap-2 shadow-sm mb-2 btn-outline-info eml"
              >
                <img
                  src="{% static 'images/logos/python.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span
                  >Python<small
                    class="d-flex text-body-secondary align-items-center gap-1"
                    >Proficient
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-half"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.354 5.119 7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.56 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z"
                      />
                    </svg>
                  </small>
                </span>
              </label>
              <label
                class="list-group-item d-flex gap-2 shadow-sm mb-2 btn-outline-danger eml"
              >
                <img
                  src="{% static 'images/logos/c-.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span
                  >C/C++<small
                    class="d-flex text-body-secondary align-items-center gap-1"
                    >Proficient
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                  </small>
                </span>
              </label>
  
              <label
                class="list-group-item d-flex gap-2 shadow-sm mb-2 btn-outline-warning eml"
              >
                <img
                  src="{% static 'images/logos/java.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span
                  >Java<small
                    class="d-flex text-body-secondary align-items-center gap-1"
                    >Proficient
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-half"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.354 5.119 7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.56 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z"
                      />
                    </svg>
                  </small>
                </span>
              </label>
  
              <label
                class="list-group-item d-flex gap-2 shadow-sm mb-2 btn-outline-success eml"
              >
                <img
                  src="{% static 'images/logos/r.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span
                  >R<small
                    class="d-flex text-body-secondary align-items-center gap-1"
                    >Proficient
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="10"
                      fill="currentColor"
                      class="bi bi-star-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                      />
                    </svg>
                  </small>
                </span>
              </label>
  
              <label
                class="list-group-item d-flex gap-2 shadow-sm mb-2 btn-outline-dark eml"
              >
                <img
                  src="{% static 'images/logos/java-script.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span
                  >JavaScript<small
                    class="d-flex text-body-secondary align-items-center gap-1"
                    >Familiar
                  </small>
                </span>
              </label>
            </div>
          </div> 
          <div class="col d-flex flex-column gap-2 px-5">
            <strong class="fs-6">Web Development</strong>
            <div class="list-group">
              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 btn-outline-info eml"
              >
                <img
                  src="{% static 'images/logos/django.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span
                  >Django<small
                    class="d-flex text-success align-items-center mx-1"
                    >Actively Using</small
                  >
                </span>
              </label>
              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-danger"
              >
                <img
                  src="{% static 'images/logos/bootstrap.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="35px"
                />
                <span>Bootstrap</span>
              </label>
              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-success"
              >
                <img
                  src="{% static 'images/logos/spring.svg'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span>Spring</span>
              </label>
              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-warning"
              >
                <img
                  src="{% static 'images/logos/html.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span>HTML</span>
              </label>
              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-dark"
              >
                <img
                  src="{% static 'images/logos/css.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span>CSS</span>
              </label>
            </div>
          </div>

          <div class="col d-flex flex-column gap-2 px-5">
            <strong class="fs-6">Operating Systems</strong>
            <div class="list-group">
              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-info"
              >
                <img
                  src="{% static 'images/logos/mac.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span>MacOS</span>
              </label>
              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-warning"
              >
                <img
                  src="{% static 'images/logos/windows.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="35px"
                />
                <span>Windows</span>
              </label>
              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-success"
              >
                <img
                  src="{% static 'images/logos/linux.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span>Linux</span>
              </label>
            </div>
          </div>

          <div class="col d-flex flex-column gap-2 px-5">
            <strong class="fs-6">Manufacturing</strong>
            <div class="list-group">
              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-success"
              >
                <img
                  src="{% static 'images/logos/solidworks.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span>Solidworks</span>
              </label>

              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-info"
              >
                <img
                  src="{% static 'images/logos/mastercam.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span>MasterCam</span>
              </label>

              <label
                class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-warning"
              >
                <img
                  src="{% static 'images/logos/gd.png'%}"
                  class="mx-2"
                  alt=""
                  width="40px"
                  height="40px"
                />
                <span>GD&T</span>
              </label>
            </div>
          </div>

          <div class="col d-flex flex-column gap-2 px-5">
            <strong class="fs-6">Misc.</strong>
            <div class="list-group">
              <label
              class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-danger"
            >
              <img
                src="{% static 'images/logos/git.png'%}"
                class="mx-2"
                alt=""
                width="40px"
                height="40px"
              />
              <span>GIT</span>
            </label>

            <label
              class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-warning"
            >
              <img
                src="{% static 'images/logos/mysql.png'%}"
                class="mx-2"
                alt=""
                width="40px"
                height="40px"
              />
              <span>MySQL</span>
            </label>

            <label
              class="list-group-item d-flex align-items-center gap-2 shadow-sm mb-2 eml btn-outline-success"
            >
              <img
                src="{% static 'images/logos/excel.png'%}"
                class="mx-2"
                alt=""
                width="40px"
                height="40px"
              />
              <span>Excel</span>
            </label>
            </div>
          </div>
        </div>
