
<div class="grid content-between">
    <div class="carousel w-full">
        <div id="item1" class="carousel-item w-full">
            <div class="h-"></div>
            {% include 'engineeringPageNew/Project1.html'%}
        </div>

        <div id="item2" class="carousel-item w-full">
           <h1>ssss</h1>
        </div>
        <div id="item3" class="carousel-item w-full">
          <img
            src="https://img.daisyui.com/images/stock/photo-1414694762283-acccc27bca85.jpg"
            class="w-full" />
        </div>
        <div id="item4" class="carousel-item w-full">
          <img
            src="https://img.daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.jpg"
            class="w-full" />
        </div>
    </div>
    
    
    <div class="w-full grid grid-cols-2 lg:grid-cols-4 place-content-center bg-base-300 px-10 lg:w-9/12 mx-auto gap-4">
        <a href="#item1" class="btn btn-xs">1</a>
        <a href="#item2" class="btn btn-xs">2</a>
        <a href="#item3" class="btn btn-xs">3</a>
        <a href="#item4" class="btn btn-xs">4</a>
    </div>
      
</div>


  <script>


    document.querySelectorAll('.btn.btn-xs').forEach(element => {
        element.className='btn-primary btn w-48 h-48'
        element.addEventListener("mouseover",()=>{
            element.click()
        })
    });
  </script>