{% load static%}
<!-- <video height="100%" class="" autoplay muted loop playback="3">

     <source src="https://videos.pexels.com/video-files/19791092/19791092-uhd_2560_1440_60fps.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video> -->
<div class="hidden md:flex">
    <img class="h-screen" src="https://jayd719.github.io/assets/images/code/img2.png" alt="">
    <div class="grid content-end w-24 justify-center">
        <div class="animate-bounce tansition delay-1000">
            <div class="animate-pulse p-2 flex items-center justify-center text-base-content">
                <svg class="w-12 h-12" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                </svg>
              </div>
        </div>
        
    </div>
   
</div>
