<h3><strong>Extracurricular Activities</strong></h3>
<div>
  <p>
    <strong>Laurier Computer Science Club</strong><br /><em
      >Member, Sept 2021 - Present</em
    >
  </p>
  <ul>
    <li>
      Attended workshops on machine learning, full-stack development, and
      cybersecurity.
    </li>
    <li>
      Participated in hackathons and coding challenges, placing 2nd in the
      Laurier 2023 Hackathon.
    </li>
  </ul>
</div>

<div>
    <p>
        <strong>Wilfrid Laurier University Coding Bootcamp</strong><br><em>Peer Mentor, Jan 2022 - April 2022</em>
      </p>
      <ul>
        <li>
          Mentored first-year students in Python and Java, helping them
          understand fundamental programming concepts and debugging
          techniques.
        </li>
      </ul>
</div>
