<h3><strong>Extracurricular Activities</strong></h3>
<div class="gri2">
  <div>
    <p>
      <strong>Laurier Computer Science Club</strong><br /><em
        >Member, Sept 2022 - Present</em
      >
    </p>
    <ul>
      <li>
        Attended workshops on machine learning and data analysis.
      </li>
      <li>
        Participated in coding challenges and networking events.
      </li>
    </ul>
  </div>
  
  <div>
      <p>
          <strong>Hack The North</strong><br><em>Participant, Sept 2024</em>
        </p>
        <ul>
          <li>
            Collaborated with peers to work on hands-on activities.
          </li>
        </ul>
  </div>
</div>
