<h3>Extracurricular Activities</h3>
<div class="gri2">
  <div>
    <div style="display: flex;justify-content: space-between;">
      <p><strong>Laurier Computer Science Club</strong>, <em>Member</em></p>
      <p><em>Sept 2022 - Present</em></p>
    </div>

    <ul>
      <li>
        Attended workshops on machine learning and data analysis.
      </li>
      <li>
        Participated in coding challenges and networking events.
      </li>
    </ul>
  </div>

  <div>
    <div style="display: flex;justify-content: space-between;">
      <p><strong>Hack The North</strong>, <em>Participant</em></p>
      <p><em>Sept 2024</em></p>
    </div>
    <div class="project1">
      <ul>
        <li>Developed a mobile application for real-time cricket score tracking, enabling users to manage match setups,
          teams, and scores efficiently.</li>
        <!-- <li>Implemented a comprehensive system for managing player statistics, match progress, and tracking over-by-over
          details.</li>
        <li>Designed user-friendly interfaces for ease of navigation, improving the overall match management and viewing
          experience.</li> -->
      </ul>
    </div>

  </div>
</div>