<h3><strong>Education</strong></h3>
<div class="grid2" style="padding: .5% 0% 1% 3%">
  <div class="education">
    <p>
      <strong>Wilfrid Laurier University</strong> — Waterloo, ON<br /><strong
        >Bachelor of Science, Computer Science</strong
      ><br /><em>Sept 2022 - Present</em>
    </p>
    <ul>
      <li>
        Relevant Coursework: Data Structures &amp; Algorithms, Operating
        Systems, Web Development, Object-Oriented Programming, Databases,
        Software Engineering
      </li>
    </ul>
  </div>
  <div class="education">
    <p>
      <strong>Conestoga College</strong> — Kitchener, ON<br /><strong
        >Diploma in Mechanical Engineering Automated Manufacturing</strong
      ><br /><em>Sept 2016 - August 2019</em>
    </p>
    <ul>
      <li>
        Developed hands-on skills in CNC programming, automated manufacturing
        systems, manufacturing processes, CAD/CAM software, industrial robotics, and
        machining.
      </li>
    </ul>
  </div>
</div>
