<h3><strong>Education</strong></h3>
<div class="gri">
  <div class="education">
    <div style="display: flex; justify-content: space-between;">
      <p>
        <strong>Wilfrid Laurier University</strong> — Waterloo, ON<br /><strong
          >Bachelor of Science, Computer Science</strong>
      </p>
      <p><em>Sept 2022 - Present</em></p>
    </div>
    
    <ul>
      <li style="text-align: justify;">
        Developed Proficiency in Machine Learning, Data Structures and Algorithms, Probability and Statistics, Artificial Intelligence, Operating
        Systems, Databases
      </li>
    </ul>
  </div>
  <div class="education" style="margin-top: 1%;">
    <div style="display: flex; justify-content: space-between;">
      <p>
        <strong>Conestoga College</strong> — Cambridge, ON<br /><strong
        >Diploma in Mechanical Engineering Automated Manufacturing</strong>
      </p>
      <p><em>Sept 2016 - August 2019</em></p>
    </div>
    <ul>
      <li style="text-align:justify">
        Acquired hands-on skills in CNC programming, automated manufacturing
        systems, CAD/CAM software, industrial robotics, and
        machining.
      </li>
    </ul>
  </div>
</div>
