<div class="education">
  <div style="display: flex; justify-content: space-between;">
    <p><strong>Bachelor of Science in Computer Science</strong><br /><em>Wilfrid
        Laurier University — Waterloo, ON</em>
    </p>

    <p><em>Sept 2022 - May 2026</em></p>
  </div>
  <em>Concentration in Big Data
    Systems</em>
  <ul>
    <li style="text-align: justify;">
      Coursework: Data Structures & Algorithms, Database Management, Big Data Analytics (Spark, Hadoop), Software
      Engineering, Machine
      Learning, Image
      Processing & Pattern Recognition and Operating Systems
    </li>
  </ul>
</div>