<div class="education">
  <div style="display: flex; justify-content: space-between;">
    <p><strong>Bachelor of Science in Computer Science</strong><br /><em>Wilfrid
        Laurier University — Waterloo, ON</em>
    </p>

    <p><em>Sept 2022 - Dec 2025</em></p>
  </div>
  <p style="margin: 0; padding: 0;"><span style="font-weight: bold;">Concentration: </span><em>Big Data
      Systems</em></p>
  <ul>
    <li>
      Coursework: Data Structures & Algorithms, Database Management, Big Data Analytics (Spark, Hadoop), Machine
      Learning, Image
      Processing & Pattern Recognition and Operating Systems
    </li>

  </ul>
</div>