<div style="display: grid;">
  <p style="text-align: center;"><strong style="font-size: xxx-large; font-weight: 900; ">Jashandeep Singh</strong></p>

  <p style="font-weight: bold; text-align: center; margin-top: 25px;">
    Waterloo, Ontario |
    <a href="mailto:sing8282@mylaurier.ca">sing8282@mylaurier.ca</a> |
    437•929•6465 |
    <a target="_blank" href="https://linkedin.com/in/jashansingh65">LinkedIn</a> |
    <a target="_blank" href="https://github.com/jayd719">GitHub</a> |
    <a target="_blank" href="https://jashandeep.co.uk">jashandeep.co.uk</a>
  </p>
</div>