<div style="text-align: center;">
  <p style="text-align: center;"><strong style="font-size: xxx-large; font-weight: 800; ">Jashandeep Singh</strong></p>
  <p style="font-weight: bold; text-align: center;">
    Waterloo, Ontario |
    <a href="mailto:jsingh0779@gmail.com">jsingh0779@gmail.com</a> |
    437•929•6465 |
    <a target="_blank" href="https://linkedin.com/in/jashansingh65">LinkedIn</a> |
    <a target="_blank" href="https://github.com/jayd719">GitHub</a> |
    <a target="_blank" href="https://jashandeep.co.uk">jashandeep.co.uk</a>
  </p>
</div>