<h3>Key Strengths</h3>
<ul class="grid2" style="gap: .5px; text-align: justify;">
    <li>Experience with cloud-based applications & API development</li>
    <li style="padding-right: 10px;">Strong analytical, problem-solving, and debugging skills</li>
    <li style="padding-right: 30px;">Ability to work in fast-paced environments, balancing multiple projects and
        deadlines effectively
    </li>
    <li>Understanding of system design principles, including scalability, reliability, and maintainability</li>
</ul>