<h3>Key Skills</h3>
<div class="grid2">
  <ul>
    <li>
      CNC Programming: Fanuc, Siemens, Heidenhain
    </li>
    <li>CAD/CAM Software: Mastercam, SolidWorks</li>
    <li>Reverse Engineering</li>
    <li>Lights-Out Machining Implementation</li>
    <li>Process Improvement &amp; Standardization</li>
    <li>Tool &amp; Fixture Design</li>
  </ul>
  <ul>
    <li>Languages: Python, C/C++</li>
    <li>Databases: MySQL, MongoDB</li>
    <li>Technical Troubleshooting &amp; Support</li>
    <li>Customer &amp; Supplier Relationship Management</li>
    <li>Quality Control Integration</li>
  </ul>
</div>