<h3><strong>Key Skills</strong></h3>
<ul>
  <li>
    CNC Programming: Fanuc, Siemens, Heidenhain
  </li>
  <li>CAD/CAM Software: Mastercam, SolidWorks, AutoCAD</li>
  <li>Lights-Out Machining Implementation</li>
  <li>Process Improvement &amp; Standardization</li>
  <li>Tool &amp; Fixture Design</li>
  <li>Reverse Engineering</li>
  <li>Technical Troubleshooting &amp; Support</li>
  <li>Team Leadership &amp; Collaboration</li>
  <li>Customer &amp; Supplier Relationship Management</li>
  <li>Quality Control Integration</li>
</ul>
