<h3><strong>Professional Experience</strong></h3>
<div style="display: flex; justify-content: space-between;">
  <p>
    <strong>Lead Manufacturing Engineer</strong><br /><em>Canadian Babbitt Bearings — Brantford, ON</em>
  </p>
  <p><em>2023 – 2024</em></p>
</div>

<ul>
  <li>
    Led the manufacturing department overseeing daily operations, ensured adherence to production schedules and
    conducted regular meetings to review progress, address challenges, and align team efforts with organizational
    objectives.
  </li>
  <li>
    Spearheaded the implementation of lights-out machining on the Matsuura H-Plus 630, optimizing workflows for
    unattended operation during non-working hours, which increased production capacity by 30%.
  </li>
  <li>
    Acted as a liaison between management and the shop floor to ensure alignment of managerial strategies with
    operational plans.
  </li>
  <li>
    Provided mentorship to team members, offering training on CNC programming techniques and CAD design
  </li>
  <li>
    Led and reviewed key manufacturing projects, ensuring that timelines, budgets, and quality standards were
    consistently met.
  </li>
</ul>
<div style="display: flex; justify-content: space-between;">
  <p><strong>Manufacturing Engineer</strong><br /><em>Canadian Babbitt Bearings — Brantford, ON</em></p>
  <p><em>2020 – 2023</em></p>
</div>
<ul>
  <li>
    Created and optimized CNC programs for multi-axis machining centers, including the Matsuura H-Plus 630, DMG Ecomill,
    and Toshiba TUE, along with other milling and turning machines.
  </li>
  <li>
    Designed and implemented standardized CNC template programs to streamline programming tasks, enhance consistency,
    and programming times.
  </li>
  <li>
    Programmed lathes with live tooling, combined milling and turning operations reducing setup and cycle times.
  </li>
  <li>
    Partnered with vendors to source cost-effective yet high-quality tooling solutions that improved machining
    efficiency and accuracy.
  </li>

</ul>
<div style="display: flex; justify-content: space-between;">
  <p><strong>Junior Manufacturing Engineer</strong><br /><em>Canadian Babbitt Bearings — Brantford, ON</em></p>
  <p><em>2019 – 2020</em></p>
</div>

<ul>
  <li>
    Designed complex solid models and fixtures using SolidWorks, ensuring accurate and efficient setups for challenging
    machining tasks.
  </li>
  <li>
    Reverse-engineered products and components as needed, utilizing calipers, micrometers, and CMMs to develop detailed
    CAD models.
  </li>
</ul>