<h3><strong>Professional Experience</strong></h3>
<p>
  <strong>Lead Manufacturing Engineer</strong><br /><em
    >[Company Name], [Location]</em
  >
  | <em>2023 – Present</em>
</p>
<ul>
  <li>
    Lead the manufacturing department, overseeing day-to-day operations and
    ensuring production efficiency.
  </li>
  <li>
    Drove continuous improvement initiatives, optimizing processes and
    implementing innovative manufacturing techniques.
  </li>
  <li>
    Spearheaded the procurement of tools, fixtures, and holders tailored to
    specific machine requirements, ensuring seamless operation.
  </li>
  <li>
    Managed cross-functional teams, fostering collaboration between engineering,
    production, and quality departments.
  </li>
  <li>
    Delivered technical support and troubleshooting, ensuring smooth operations
    with minimal downtime.
  </li>
</ul>
<p>
  <strong>Manufacturing Engineer</strong><br /><em
    >[Company Name], [Location]</em
  >
  | <em>2020 – 2023</em>
</p>
<ul>
  <li>
    Developed and standardized cost-effective manufacturing processes, ensuring
    consistent quality and improved productivity.
  </li>
  <li>
    Designed and selected tools and fixtures, providing critical support for
    manufacturing operations.
  </li>
  <li>
    Created and maintained detailed work instructions, including setup sheets,
    for efficient process workflows.
  </li>
  <li>
    Developed and implemented program macros and parametric feature-based
    programs, streamlining programming tasks.
  </li>
  <li>
    Implemented lights-out machining for the Matsuura H-Plus 630, optimizing
    production capacity and reducing lead times.
  </li>
  <li>
    Managed relationships with both internal teams and external suppliers,
    ensuring alignment on project timelines and quality standards.
  </li>
</ul>
<p>
  <strong>Junior Manufacturing Engineer</strong><br /><em
    >[Company Name], [Location]</em
  >
  | <em>2019 – 2020</em>
</p>
<ul>
  <li>
    Created solid models for parts manufactured at the facility, contributing to
    accurate production and design improvements.
  </li>
  <li>
    Reverse engineered components to facilitate the production of replacement
    parts or improve existing designs.
  </li>
  <li>
    Assisted in CNC programming and machine setup, gaining hands-on experience
    in manufacturing operations.
  </li>
</ul>
