<h3>Professional Experience</h3>
<div style="display: flex; justify-content: space-between;">
  <p>
    <strong>Lead Manufacturing Engineer</strong><br /><em>Canadian Babbitt Bearings — Brantford, ON</em>
  </p>
  <p><em>2023 – 2024</em></p>
</div>

<ul>
  <li>
    Oversaw daily manufacturing operations, ensuring adherence to production schedules and facilitating team alignment
    through regular progress reviews.
  </li>
  <li>
    Implemented lights-out machining on the Matsuura H-Plus 630, boosting production capacity by 30% through optimized
    unattended workflows.

  </li>
  <li>
    Acted as liaison between management and shop floor to align strategic goals with operational execution.
  </li>
  <li>
    Mentored team members in CNC programming and CAD design to strengthen technical skills and on-the-job performance.
  </li>
  <li>
    Led key manufacturing projects, consistently meeting deadlines, budget constraints, and quality standards.
  </li>
</ul>
<div style="display: flex; justify-content: space-between;">
  <p><strong>Manufacturing Engineer</strong><br /><em>Canadian Babbitt Bearings — Brantford, ON</em></p>
  <p><em>2020 – 2023</em></p>
</div>
<ul>
  <li>
    Created and optimized CNC programs for multi-axis machines including Matsuura H-Plus 630, DMG Ecomill, and Toshiba
    TUE.
  </li>
  <li>
    Designed standardized CNC templates, reducing programming time by 50% and improving consistency across shopfloor.
  </li>
  <li>
    Programmed lathes with live tooling to combine milling and turning, cutting setup and cycle times.
  </li>
  <li>
    Partnered with vendors to source cost-effective, high-performance tooling that boosted machining efficiency and
    accuracy.
  </li>

</ul>
<div style="display: flex; justify-content: space-between;">
  <p><strong>Junior Manufacturing Engineer</strong><br /><em>Canadian Babbitt Bearings — Brantford, ON</em></p>
  <p><em>2019 – 2020</em></p>
</div>

<ul>
  <li>
    Designed complex solid models and machining fixtures in SolidWorks to support precise and efficient setups.
  </li>
  <li>
    Reverse-engineered parts using calipers, micrometers, and CMMs to create detailed, accurate CAD models.
  </li>
</ul>