<h3><strong>Projects</strong></h3>
<div class="gri">
  <div class="project1">
    <p>
      <strong>Food Ordering Web App</strong><br /><em
        >Django, MySQL, HTML/CSS, JavaScript</em
      >
    </p>
    <ul>
      <li>
        Developed a full-stack platform enabling users to browse, select, and place orders from a dynamic menu, improving user engagement by providing a streamlined ordering experience.
      </li>
      <li>
        Implemented secure authentication using OAuth 2.0, allowing users to log in with their existing Google or Facebook accounts. Integrated a MySQL database to manage order and customer data, optimizing data retrieval and reducing query times.
      </li>
    </ul>
  </div>


  <div class="project">
    <p>
      <strong>Excel Automation Using Python</strong><br /><em
        >Python, Rest API, Pandas, Openpyxl</em
      >
    </p>
    <ul>
      <li>Created a python application to automate data extraction from ERM system, eliminating the need of manual data, improving data processing speed</li>
      <li>Utilized python libraries- pandas and openpyxl to manipulate and analyze data, resulting in enhanced accuracy.</li>
    </ul>

  </div>

  <div class="project">
    <p>
      <strong>Custom Tooling Solution</strong>
      <em>(Plugin for Mastercam)</em><br /><em>Active Reports, Mastercam, XML, JavaScript, HTML</em>
    </p>
    <ul>
      <li>
        Built a plugin for Mastercam to automate the creation of CNC setup sheets eliminating the need of manual data entry.
      </li>
      <li>
        Integrated JavaScript via CDN to format and enhance generated reports, ensuring a visually appealing experience. Added barcode functionality for automated dispensing of tools from the Autocrib tooling vending machine, streamlining tool access
      </li>
    </ul>
  </div>

  
  <div class="project">
    <p>
      <strong>Personal Portfolio Website</strong><br /><em
        >Django, JavaScript, AWS, Route53, SSL, DaisyUI</em>
    </p>
    <ul>
      <li>
        Developed a fully responsive portfolio website showcasing personal
        projects, skills, and resume. Increased visitor engagement through an intuitive user interface and animated navigation.
      </li>
      <li>
        Developed functionality to track user interactions on the website, including monitoring user locations and pages visits.
      </li>
    </ul>
  </div>
</div>
