<h3>Projects &amp; Achievements</h3>
<ul>
  <li>
    <strong>Lights-Out Machining for Matsuura H-Plus 630</strong>: Drove a 30% increase in production capacity by
    implementing lights-out machining and optimizing machine utilization.
  </li>
  <li>
    <strong>Workflow Automation and Data Integration: </strong>Built a scalable system to automatically collect,
    process,
    and analyze real-time production and scheduling data from
    JobBoss E2 ERP reducing manual work by 90%, improving efficiency and accuracy.
  </li>
</ul>