<h3><strong>Projects</strong></h3>
<div class="gri">
  <div class="project">
    <p><strong>Automated Data Processing & Reporting System</strong><br />Technologies: <em>Python,
        Pandas, Openpyxl,
        JobBoss E2
        API</em></p>
    <ul>
      <li>Developed a Python-based application to automate data extraction from an ERP system, reducing manual data
        processing time by 90%.</li>
      <li>Integrated API connections to fetch real-time manufacturing data for dynamic reporting.</li>
      <li>Designed interactive dashboards for improved decision-making in scheduling and operations.</li>
    </ul>

  </div>

  <div class="project1">
    <p><strong>Food Ordering Web App</strong><br />Technologies: <em>C#, .NET, SQL, JavaScript, HTML/CSS</em></p>
    <ul>
      <li>Developed a full-stack platform enabling users to browse, select, and place orders from a dynamic menu,
        improving user engagement by providing a streamlined ordering experience.</li>
      <li>Implemented secure authentication using OAuth 2.0, allowing users to log in with their existing Google
        account.</li>
      <li>Integrated a MySQL database to manage order and customer data.</li>
    </ul>
  </div>




  <!-- <div class="project">
    <p><strong>Custom Tooling Solution</strong><em>(Plugin for Mastercam)</em><br /><em>Active Reports, Mastercam, XML,
        JavaScript, HTML</em></p>
    <ul>
      <li>Built a plugin for Mastercam to automate the creation of CNC setup sheets eliminating the need of manual data
        entry.</li>
      <li>Integrated JavaScript via CDN to format and enhance generated reports, ensuring a visually appealing
        experience.</li>
      <li>Added barcode functionality for automated dispensing of tools from the Autocrib tooling vending machine,
        streamlining tool access</li>
    </ul>
  </div> -->


  <div class="project">
    <p><strong>Personal Portfolio Website</strong><br />Technologies: <em>Django, JavaScript, MySQL, AWS, EC2 ,Route 53,
        Apache,
        SSL</em></p>
    <ul>
      <li>Developed a fully responsive portfolio website showcasing personal projects, skills, and resume, deployed on
        AWS using an EC2 instance, leveraging cloud scalability and performance</li>
      <li>Optimized domain management with AWS Route 53, improving DNS performance and reliability</li>
      <li>
        Configured the Apache web server and implemented SSL encryption to enhance security and ensure encrypted data
        transmission.
      </li>
    </ul>
  </div>
</div>