<h3>Professional Summary</h3>
<p style="text-align: justify;">
  Highly motivated Computer Science student with a strong foundation in backend development and a passion for building
  scalable systems. Proficient in programming languages like Python and C/C++, with hands-on experience in APIs,
  databases,
  and server-side technologies. Through coursework and personal projects, I have developed skills in optimizing
  performance, ensuring data integrity, and implementing efficient solutions. Eager to contribute my technical skills as
  a
  Backend Intern, learn from experienced engineers, and grow in a dynamic development environment
</p>