<h3>Summary</h3>
<p>
  Creative and detail-focused computer science student with hands-on experience of full-stack development, backend
  systems, and real-time data applications. Skilled in building robust web platforms with technologies like Django,
  Flask, and Node.js,
  and using cloud tools like AWS and Docker. A keen observer, fast learner, and passionate problem-solver who enjoys
  turning ideas into practical solutions. Seeking a Software Engineer Internship to gain more experience and grow as a
  developer.
</p>