<h3><strong>Professional Summary</strong></h3>
<p style="text-align: justify;">
  Dedicated and detail-oriented Manufacturing Engineer and CNC Programmer with 5
  years of experience in optimizing manufacturing processes, programming CNC
  machines, and leading operations in high-performance environments. Proven
  track record of driving efficiency, standardizing procedures, and managing
  relationships with both internal and external stakeholders. Expertise in
  tooling, fixtures, lights-out machining, and process development. Adept at
  integrating advanced quality control processes to ensure product excellence.
</p>
