<h3>Professional Summary</h3>
<p style="text-align: justify;">
  Recent Computer Science graduate with hands-on experience in software development, API design, and cloud-based
  applications through
  academic projects and coursework. Skilled in programming languages like C#, C++, and
  Python. Built and
  deployed web
  applications, worked
  with databases, and solved real-world problems using algorithms and data structures. Passionate about building
  scalable microservices and cloud-based applications. Experienced working in fast-paced environments, managing multiple
  projects, and meeting deadlines effectively. Quick learner, team player, and ready to take on new challenges.
</p>