<h3>Professional Summary</h3>
<p style="text-align: justify;">
  Highly motivated Computer Science student with a solid background in software development and a strong interest in
  data
  engineering. Skilled in Python, Java, databases, and cloud technologies, with hands-on experience in building data
  pipelines and optimizing data processes. Experienced in data analysis, automation, and efficient data management
  through
  coursework and personal projects. Eager to apply my skills in a fast-paced data engineering role, contribute to
  real-world projects, and grow under industry mentorship
</p>