<h3><strong>Professional Summary</strong></h3>
<p style="text-align: justify;">
  Innovative and forward-thinking engineering professional with 5+ years of experience in CNC programming, CAD design,
  process optimization, and lights-out machining. A keen observer and quick learner with a proven track record of
  enhancing efficiency, precision, and productivity in manufacturing workflows. Combines a passion for learning and
  programming with a creative and analytical approach to problem-solving, delivering innovative solutions to complex
  challenges.
</p>