<h3><strong>Professional Summary</strong></h3>
<p style="text-align: justify;">
  Innovative and forward-thinking engineering professional with over 5 years of experience in CNC programming, CAD
  design, and software development. Skilled in improving manufacturing processes and creating efficient systems. Strong
  knowledge of programming languages like C#, Python, and JavaScript, as well as tools for data analysis and cloud
  computing. Passionate about using technology to solve problems and improve workflows in both manufacturing and
  software development.
</p>