<h3><strong>Technical Skills</strong></h3>
<div class="grid2" style="gap: 3px;">
  <span><strong>Programming Languages</strong>: C#, C/C++, JavaScript (Node.js), Python, SQL</span>
  <span><strong>Data Analysis</strong>: Pandas, NumPy, Excel (Advanced Formulas, VBA)</span>
  <span><strong>Data Visualization</strong>: Tableau, Matplotlib, Seaborn, Plotly</span>
  <span><strong>Machine Learning</strong>: Scikit-learn, Tensorflow</span>
  <span><strong>Database Management</strong>: MongoDB, MySQL, PostgreSQL</span>
  <span><strong>Big Data</strong>: Apache Spark, Hadoop, Databricks, Google BigQuery</span>
  <span><strong>Statistical Modeling</strong>: Regression Analysis, Clustering, Time Series Forecasting, A/B
    Testing</span>
  <span><strong>Version Control</strong>: Git, GitHub</span>


</div>