<style>
  .g ul {
    padding: 0;
  }

  .g li {
    display: grid;
    margin-bottom: 7.5px;
    text-align: left;
  }

  .g span {
    margin-top: 3px;
    padding-left: 20px;
  }
</style>
<div class="g">

  <h3>Skills</h3>
  <ul>
    <li>
      <strong>Programming Languages:</strong><span> Python, SQL, JavaScript, C++, VBA</span>
    </li>
    <li>
      <strong>Data Analysis & Visualization:</strong><span>Power BI, Power Query, Pandas, Plotly,
        Dash, Excel
      </span>
    </li>
    <li>
      <strong>Frameworks:</strong><span> Django, Flask, FastAPI, Angular</span>
    </li>
    <li>
      <strong>Database &amp; Data Handling:</strong><span> MySQL, MongoDB, Redis, MS Fabric
      </span>
    </li>

    <li>
      <strong>Automation & RPA:</strong><span> MS Power Automate, VBA Macros, UiPath (familiar)
      </span>
    </li>
    <li>
      <strong>Cloud & Version Control:</strong><span> AWS (EC2, S3, Lambda), Docker, Nginx, Git, GitHub Actions
      </span>
    </li>
    <li>
      <strong>Testing &amp; Debugging:</strong><span> Postman, Pytest, Chrome DevTools</span>
    </li>

    <li>
      <strong>Project & Task Management:</strong> <span>MS SharePoint, MS Project, JIRA</span>
    </li>

    <li>
      <strong>Software Engineering Concepts:</strong><span> RPA, Data Structures &amp; Algorithms, OOP, Design Patterns,
        API Integration, Microservices, Agile Methodologies
      </span>
    </li>
    <li>
      <strong>Soft Skills:</strong><span> Problem-solving, Collaboration, Adaptability, Attention to Detail, Eagerness
        to Learn
      </span>
    </li>
  </ul>
</div>