<h3>Technical Skills</h3>
<div class="grid2" style="gap: 3px;">
  <span><strong>Programming Languages</strong>: Python, Java, SQL</span>
  <span><strong>Platforms</strong>: Apache Spark, Hadoop, Databricks, Google BigQuery</span>
  <span><strong>Data Analysis</strong>: Pandas, NumPy, Excel (Advanced Formulas, VBA)</span>
  <span><strong>Data Visualization</strong>: Matplotlib, Seaborn, Plotly</span>
  <span><strong>Machine Learning</strong>: Scikit-learn, Tensorflow</span>
  <span><strong>Database Management</strong>: MongoDB, MySQL</span>
  <span><strong>Version Control</strong>: Git, GitHub</span>


</div>