<h3><strong>Technical Skills</strong></h3>
<ul class="grid" style="list-style: none">
  <li>
    <strong>Languages</strong>: Python, Java, JavaScript, C++, SQL, HTML, CSS
  </li>
  <li>
    <strong>Frameworks &amp; Libraries</strong>:Django, Flask, Node.js, Tailwind,
    Bootstrap
  </li>
  <li>
    <strong>Tools &amp; Technologies</strong>: Git, GitHub, Docker, Jenkins,
    MySQL, MongoDB, AWS
  </li>
  <li>
    <strong>Methodologies</strong>: Agile, Scrum, Test-Driven Development (TDD)
  </li>
  <li><strong>CAD/CAM</strong>: SolidWorks, Mastercam</li>

  <li><strong>CNC Programming</strong>: Fanuc, Siemens, Heidenhain</li>
</ul>
