<h3><strong>Technical Skills</strong></h3>
<div class="grid">
  <p><strong>Languages</strong>: Python, C/C++, Java, JavaScript, SQL</p>
  <p><strong>AI/ML</strong>: TensorFlow, PyTorch, scikit-learn</p>
  <p><strong>Data Analysis</strong>: Pandas, NumPy, Matplotlib, Seaborn</p>
  <p><strong>Web Development</strong>: Django, Flask, Tailwind, Bootstrap</p>
  <p><strong>Tools &amp; Technologies</strong>: Git, Docker, AWS, OpenCV</p>
  <p><strong>Databases</strong>: MySQL, MongoDB</p>
  <!-- <p><strong>Methodologies</strong>: Agile, Scrum, TDD</p> -->

<!-- <li><strong>CAD/CAM</strong>: SolidWorks, Mastercam</li>

<li><strong>CNC Programming</strong>: Fanuc, Siemens, Heidenhain</li> -->
</div>



