<h3><strong>Technical Skills</strong></h3>
<div class="grid2" style="gap: 3px;">

  <span><strong>Languages</strong>: C#, C/C++, JavaScript, Python, SQL</span>
  <span><strong>AI/ML</strong>: Scikit-learn, TensorFlow</span>
  <span><strong>Data Analysis</strong>: Pandas, Matplotlib, NumPy</span>
  <span><strong>Cloud & DevOps</strong>: AWS (EC2, Route 53, S3), Docker, Nginx</span>
  <span><strong>Web Development</strong>: ASP.Net, Django, Flask, Tailwind CSS</span>
  <span><strong>Development Tools</strong>: Git, REST APIs, Postman, OpenPyXL, OpenCV</span>
  <span><strong>Databases</strong>: MongoDB, MySQL</span>
  <span><strong>Methodologies</strong>: Agile, Scrum, TDD</span>
  <!-- <span><strong>CAD/CAM</strong>: Mastercam, SolidWorks</span> -->
  <!-- <li><strong>CAD/CAM</strong>: SolidWorks, Mastercam</li>

<li><strong>CNC Programming</strong>: Fanuc, Siemens, Heidenhain</li> -->
</div>