<h3><strong>Technical Skills</strong></h3>
<div class="grid2" style="gap: 3px;">
  <span><strong>Languages</strong>: Python, SQL, Java, Scala, Bash</span>
  <span><strong>Big Data Tools</strong>: Apache Spark, Hadoop, Hive, Kafka</span>
  <span><strong>DataWarehousing</strong>: Amazon Redshift, Snowflake, Google BigQuery</span> <span><strong>ETL
      Tools</strong>: Apache
    Airflow, Talend, Informatica</span>
  <span><strong>Databases</strong>: PostgreSQL, MySQL, MongoDB, Cassandra</span>
  <span><strong>Cloud Platforms</strong>: AWS (Glue, Lambda, S3, Redshift), Google Cloud (BigQuery, Dataflow),
    Azure(Data Factory, Synapse)</span>
  <span><strong>Containerization & Orchestration</strong>: Docker, Kubernetes</span>
  <span><strong>Version Control</strong>: Git, GitHub, GitLab</span>
  <span><strong>Data Modeling</strong>: ER Diagrams,Dimensional Modeling, Star/Snowflake Schemas</span>
  <span><strong>APIs</strong>: REST, GraphQL</span>
  <span><strong>Monitoring & Logging</strong>: Prometheus, Grafana, ELK Stack (Elasticsearch, Logstash, Kibana)</span>
  <span><strong>Methodologies</strong>: Agile, Scrum, CI/CD</span>
  <span><strong>Security</strong>: Data Encryption,IAM, OAuth, SSL/TLS</span>
</div>