<style>
  .g ul {
    padding: 0;
  }

  .g li {
    display: grid;
    margin-bottom: 12.5px;
    text-align: left;
  }

  .g span {
    margin-top: 3px;
    padding-left: 20px;
  }
</style>
<div class="g">

  <h3>Skills</h3>
  <ul>
    <li>
      <strong>Programming Languages:</strong><span> Python, Java, JavaScript, C++, C, SQL, VBA</span>
    </li>

    <li>
      <strong>Frameworks:</strong><span> Django, Flask, Node.js, Angular</span>
    </li>
    <li>
      <strong>Data Analysis & Visualization:</strong><span> NumPy, Pandas, Matplotlib, Plotly, Seaborn, Scikit-learn
      </span>
    </li>
    <li>
      <strong>Database &amp; Data Handling:</strong><span> MySQL, MongoDB, Redis
      </span>
    </li>
    <li>
      <strong>Version Control &amp; CI/CD:</strong><span> Git, GitHub, GitHub Actions
      </span>
    </li>
  </ul>




  <ul>
    <li>
      <strong>Tools & Technologies:</strong><span> AWS (EC2, S3, Lambda), Docker, Nginx
      </span>
    </li>
    <li>
      <strong>Testing &amp; Debugging:</strong><span> Postman, pytest, Chrome DevTools</span>
    </li>
  </ul>

  <ul>
    <li>
      <strong>Software Engineering Concepts:</strong><span> Data Structures &amp; Algorithms, OOP, Design Patterns,
        API Integration, Authentication (OAuth 2.0, JWT), Microservices, Agile/Scrum Methodologies
      </span>
    </li>
    <li>
      <strong>Soft Skills:</strong><span> Problem-solving, Collaboration, Adaptability, Attention to Detail, Eagerness
        to Learn
      </span>
    </li>
  </ul>
</div>