<div>
    <div style="display: flex; justify-content: space-between">
        <p>
            <strong>Manufacturing Engineer</strong><br /><em>Canadian Babbitt Bearings — Brantford, ON</em>
        </p>
        <p><em>June 2019 - May 2024</em></p>
    </div>
    <ul>
        <li>
            Created and optimized CNC programs for multi-axis machining centers, including the Matsuura H-Plus 630, DMG
            Ecomill, and Toshiba TUE, along with other milling and turning machines.
        </li>
        <!-- <li>
        Managed the software systems supporting daily operations, ensuring seamless integration between production
        schedules, machine interfaces, and data tracking tools.
      </li> -->
        <li>
            Worked with production, tooling, and IT teams to identify systemic bottlenecks and improve operational
            efficiency through software enhancements.
        </li>
    </ul>
</div>