<h3><strong>Work Experience</strong></h3>
<div class="grid2">
  <div>
    <p>
      <strong>Software Development Intern</strong><br /><em
        >XYZ Tech Inc. — Waterloo, ON</em
      ><br /><em>May 2023 - August 2023</em>
    </p>
    <ul>
      <li>
        Collaborated with a team of 5 developers to design and implement new
        features for a SaaS application.
      </li>
      <li>
        Contributed to the development of backend services using Flask and
        PostgreSQL, reducing response time by 20%.
      </li>
      <li>
        Participated in code reviews, identifying and fixing bugs to enhance
        system stability and performance.
      </li>
      <li>
        Utilized Docker to containerize applications and Jenkins for CI/CD
        pipeline management.
      </li>
    </ul>
  </div>

  <div class="work">
    <p>
      <strong>Teaching Assistant - Data Structures</strong><br /><em
        >Wilfrid Laurier University — Waterloo, ON</em
      ><br /><em>Sept 2022 - Present</em>
    </p>
    <ul>
      <li>
        Assisted students with understanding complex data structures and
        algorithms in weekly lab sessions.
      </li>
      <li>
        Provided one-on-one tutoring and feedback on programming assignments.
      </li>
      <li>
        Helped develop lab materials and assignments for better comprehension of
        course topics.
      </li>
    </ul>
  </div>
</div>
