<h3><strong>Work Experience</strong></h3>
<div class="gri2">
  <div>
    <div style="display: flex; justify-content: space-between">
      <p>
        <strong>Manufacturing Engineer</strong><br /><em
          >Canadian Babbitt Bearings — Brantford, ON</em
        >
      </p>
      <p><em>June 2019 - May 2024</em></p>
    </div>

    <ul>
      <li>
        Developed and standardized cost-effective manufacturing processes by
        collaborating with tool manufacturers and suppliers, achieving an improvement in production efficiency while lowering production costs.
      </li>

      <li>
        Created and implemented program macros and parametric feature-based
        programs, reducing programming time by 40%.
      </li>
      <li>
        Implemented lights-out machining for the Matsuura H-Plus 630, increasing
        production capacity by 25% and decreasing lead times through automated
        overnight operations.
      </li>
    </ul>
  </div>

  <div class="work">
    <div style="display: flex; justify-content: space-between">
      <p>
        <strong>Teaching Assistant - Data Structures</strong><br /><em
          >Wilfrid Laurier University — Waterloo, ON</em
        >
      </p>
      <p><em>Sept 2023 - Dec 2023</em></p>
    </div>

    <ul>
      <li>
        Assisted students in understanding data structures and algorithms in
        weekly lab sessions, improving comprehension and problem-solving skills.
      </li>
      <li>
        Provided one-on-one tutoring and feedback on programming assignments,
        helping students better understand assigned problems.
      </li>
    </ul>
  </div>
</div>
