<h3><strong>Work Experience</strong></h3>
<div class="gri2">
  <div class="work">
    <div style="display: flex; justify-content: space-between">
      <p>
        <strong>Teaching Assistant - Data Structures</strong><br /><em>Wilfrid Laurier University — Waterloo, ON</em>
      </p>
      <p><em>Sept 2023 - Dec 2023</em></p>
    </div>

    <ul>
      <li>
        Led weekly lab sessions on data structures, improving student comprehension of complex algorithms..
      </li>
      <li>
        Provided one-on-one debugging assistance and project feedback, enhancing problem-solving skills.
      </li>
    </ul>
  </div>

  <div>
    <div style="display: flex; justify-content: space-between">
      <p>
        <strong>Manufacturing Engineer</strong><br /><em>Canadian Babbitt Bearings — Brantford, ON</em>
      </p>
      <p><em>June 2019 - May 2024</em></p>
    </div>
    <ul>
      <li>
        Created and optimized CNC programs for multi-axis machining centers, including the Matsuura H-Plus 630, DMG
        Ecomill, and Toshiba TUE, along with other milling and turning machines.
      </li>
      <li>
        Led the manufacturing department overseeing daily operations, ensured adherence to production schedules and
        conducted regular meetings to review progress, address challenges, and align team efforts with organizational
        objectives.
      </li>
    </ul>
  </div>


</div>