{%load static%}

<div class="px-10">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            Tools I use to streamline processes
        </p>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-2 gap-5 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto">

        <!-- Microsoft Power Automate -->
        <div class="transition-all duration-300 flex flex-col">
            <div class="flex-1 flex items-center justify-center p-4 min-h-[120px]">
                <img class="h-16 object-contain w-full group-hover:scale-105 transition-transform"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Microsoft_Power_Automate.svg/2048px-Microsoft_Power_Automate.svg.png"
                    alt="Microsoft Power Automate Logo" loading="lazy">
            </div>
            <div class="text-center mt-4">
                <h3 class="text-lg font-medium text-gray-700 group-hover:text-white">MS Power Automate</h3>
            </div>
        </div>



        <!-- UiPath -->
        <div class="transition-all duration-300 flex flex-col">
            <div class="flex-1 flex items-center justify-center p-4 min-h-[120px]">
                <img class="h-16 object-contain w-full group-hover:scale-105 transition-transform"
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/UiPath_2019_Corporate_Logo.png/500px-UiPath_2019_Corporate_Logo.png"
                    alt="UiPath Logo" loading="lazy">
            </div>
            <div class="text-center mt-4">
                <h3 class="text-lg font-medium text-gray-700 group-hover:text-white">UiPath</h3>
            </div>
        </div>
    </div>
</div>