{%load static%}
<div class="px-10 lg:col-span-2">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            Python Libraries I Use
        </p>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-4  gap-10 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto px-10">
        <img class="w-20 md:w-20" src="https://www.svgrepo.com/show/306534/pandas.svg" alt="">
        <img class="w-20 md:w-20" src="https://www.svgrepo.com/show/354127/numpy.svg" alt="">
        <img class="w-62 md:w-62" src="https://matplotlib.org/_static/logo_dark.svg" alt="">
        <img class="w-20 md:w-20" src="https://www.svgrepo.com/show/354139/opencv.svg" alt="">
    </div>
</div>