{%load static%}
<div class="px-10">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            AL/ML Libraries I am Fimiliar With
        </p>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-2 gap-5 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto px-10">
        <!-- Scikit-learn -->
        <div class="flex flex-col items-center group">
            <div class="">
                <img class="w-32 h-32 object-contain"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Scikit_learn_logo_small.svg/440px-Scikit_learn_logo_small.svg.png"
                    alt="Scikit-learn Logo" loading="lazy">
            </div>
            <span class="mt-4 text-lg font-medium group-hover:text-white transition-colors">Scikit-learn</span>
        </div>

        <!-- PyTorch -->
        <div class="flex flex-col items-center group">
            <div class="">
                <img class="w-32 h-32 object-contain" src="https://www.svgrepo.com/show/354240/pytorch.svg"
                    alt="PyTorch Logo" loading="lazy">
            </div>
            <span class="mt-4 text-lg font-medium group-hover:text-white transition-colors">PyTorch</span>
        </div>

        <!-- Add more libraries here following the same pattern -->
    </div>
</div>