{%load static%}
<div class="px-10 lg:row-span-2">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            AL/ML Libraries I am Fimiliar With
        </p>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-2 gap-10 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto px-10">
        <img class="w-20 md:w-20" src="https://www.svgrepo.com/show/354440/tensorflow.svg" alt="">
        <img class="w-20 md:w-20" src="https://www.svgrepo.com/show/354240/pytorch.svg" alt="">
    </div>
</div>