{%load static%}
<div class="px-10">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            Alma Mater
        </p>
    </div>
    <div class="flex flex-col gap-5 py-5  justify-items-center mx-auto px-10">
        <img class="w-full duration-300" src="https://www.wlu.ca/_ato/dist/img/laurier-short.png" alt="">
        <img class="w-full duration-300"
            src="https://www.conestogac.on.ca/_content/CorporateWebsiteWebLibrary/images/conestoga-logo.svg" alt="">
    </div>
</div>