{% load static %}

<div class="px-10">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            Operating Systems
        </p>
    </div>
    <div class="grid grid-cols-4 lg:grid-cols-4 gap-5 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto">
        <!-- Windows -->
        <div class="flex flex-col items-center group">
            <div class="transition-all duration-300 ">
                <img src="https://www.svgrepo.com/show/382713/windows-applications.svg" alt="Windows logo"
                    class="w-20 h-20 mx-auto transition-transform duration-300 group-hover:scale-110" width="80"
                    height="80" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium group-hover:text-white">Windows</span>
        </div>

        <!-- macOS -->
        <div class="flex flex-col items-center group">
            <div class="transition-all duration-300 ">
                <img src="https://www.svgrepo.com/show/382715/apple-macbook-iphone.svg" alt="macOS logo"
                    class="w-20 h-20 mx-auto transition-transform duration-300 group-hover:scale-110" width="80"
                    height="80" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium group-hover:text-white">macOS</span>
        </div>

        <!-- Linux -->
        <div class="flex flex-col items-center group">
            <div class="transition-all duration-300 ">
                <img src="https://www.svgrepo.com/show/354004/linux-tux.svg" alt="Linux logo"
                    class="w-20 h-20 mx-auto transition-transform duration-300 group-hover:scale-110" width="80"
                    height="80" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium group-hover:text-white">Linux</span>
        </div>

        <!-- Ubuntu -->
        <div class="flex flex-col items-center group">
            <div class="transition-all duration-300 ">
                <img src="https://www.svgrepo.com/show/452122/ubuntu.svg" alt="Ubuntu logo"
                    class="w-20 h-20 mx-auto transition-transform duration-300 group-hover:scale-110" width="80"
                    height="80" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium group-hover:text-white">Ubuntu</span>
        </div>
    </div>
</div>