{%load static%}
<div class="px-10 lg:col-span-2">
    <div class="text-center">
        <p class="text-5xl font-normal tracking-tight font-title text-center font-bold mb-10 lg:text-7xl">
            Programming Languages I Use
        </p>
    </div>
    <div class="grid grid-cols-3 lg:grid-cols-5 gap-10 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto px-10">
        <img class="w-20 md:w-32" src="https://www.svgrepo.com/show/354238/python.svg" alt="">
        <img class="w-20 md:w-32" src="https://www.svgrepo.com/show/452234/java.svg" alt="">
        <img class="w-20 md:w-32" src="https://www.svgrepo.com/show/373528/cpp3.svg" alt="">
        <img class="w-20 md:w-32" src="https://www.svgrepo.com/show/373705/js-official.svg" alt="">
        <img class="w-20 md:w-32" src="https://www.svgrepo.com/show/148452/sql.svg" alt="">
    </div>
</div>