{%load static%}
<div class="px-10 lg:col-span-2">
    <div class="text-center">
        <p class="text-5xl font-normal tracking-tight font-title text-center font-bold mb-10 lg:text-7xl">
            Python Libraries I Use
          </p>
    </div>
    <div class="grid grid-cols-4  gap-10 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto px-10">
        <img class="w-14 md:w-24" src="https://www.svgrepo.com/show/306534/pandas.svg" alt="">
        <img class="w-14 md:w-24" src="https://www.svgrepo.com/show/354127/numpy.svg" alt="">
        <img class="w-14 md:w-24" src="https://matplotlib.org/_static/logo_dark.svg" alt="">
        <img class="w-14 md:w-24" src="https://www.svgrepo.com/show/354139/opencv.svg" alt="">

    </div>
</div>


