{% load static %}
<div class="px-6 lg:col-span-2">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            Data Visualization Tools I Use
        </p>

    </div>

    <div class="grid grid-cols-4 lg:grid-cols-5 gap-5 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto">
        <!-- Pandas -->
        <div class="flex flex-col items-center group transition-transform hover:scale-105">
            <div class="w-24 h-24 flex items-center justify-center">
                <img class="w-full h-full object-contain" src="https://www.svgrepo.com/show/306534/pandas.svg"
                    alt="Pandas logo" loading="lazy">
            </div>
            <span class="mt-4 text-gray-800 font-semibold">Pandas</span>
        </div>

        <!-- NumPy -->
        <div class="flex flex-col items-center group transition-transform hover:scale-105">
            <div class="w-24 h-24 flex items-center justify-center">
                <img class="w-full h-full object-contain" src="https://www.svgrepo.com/show/354127/numpy.svg"
                    alt="NumPy logo" loading="lazy">
            </div>
            <span class="mt-4 text-gray-800 font-semibold">NumPy</span>
        </div>

        <!-- Matplotlib -->
        <div class="flex flex-col items-center group transition-transform hover:scale-105">
            <div class="w-24 h-24 flex items-center justify-center">
                <img class="w-full h-full object-contain" src="https://matplotlib.org/_static/logo_dark.svg"
                    alt="Matplotlib logo" loading="lazy">
            </div>
            <span class="mt-4 text-gray-800 font-semibold">Matplotlib</span>
        </div>

        <!-- Seaborn -->
        <div class="flex flex-col items-center group transition-transform hover:scale-105">
            <div class="w-24 h-24 flex items-center justify-center">
                <img class="w-full h-full object-contain" src="https://seaborn.pydata.org/_static/logo-wide-lightbg.svg"
                    alt="Seaborn logo" loading="lazy">
            </div>
            <span class="mt-4 text-gray-800 font-semibold">Seaborn</span>
        </div>

        <!-- Plotly -->
        <div class="flex flex-col items-center group transition-transform hover:scale-105">
            <div class="w-24 h-24 flex items-center justify-center">
                <img class="w-full h-full object-contain"
                    src="https://images.prismic.io/plotly-marketing-website-2/8f977c91-7b4e-4367-8228-26fbba2506e4_69e12d6a-fb65-4b6e-8423-9465a29c6028_plotly-logo-sm.png?auto=compress%2Cformat&fit=max&w=256"
                    alt="Plotly logo" loading="lazy">
            </div>
            <span class="mt-4 text-gray-800 font-semibold">Plotly</span>
        </div>
    </div>
</div>