{%load static%}

<div class="px-10">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            Project Management Tools I Use
        </p>
    </div>
    <div class="grid grid-cols-3 lg:grid-cols-3 gap-5 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto">

        <!-- Microsoft SharePoint -->
        <div class="transition-all duration-300 flex flex-col items-center h-full">
            <div class="flex-1 flex items-center justify-center p-4">
                <img class="h-16 object-contain w-full"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Microsoft_Office_SharePoint_%282019%E2%80%93present%29.svg/330px-Microsoft_Office_SharePoint_%282019%E2%80%93present%29.svg.png"
                    alt="Microsoft SharePoint Logo" loading="lazy">
            </div>
            <h3 class="text-lg font-medium text-gray-700 group-hover:text-white mt-4">SharePoint</h3>
        </div>

        <!-- Microsoft Project -->
        <div class="transition-all duration-300 flex flex-col items-center h-full">
            <div class="flex-1 flex items-center justify-center p-4">
                <img class="h-16 object-contain w-full"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Microsoft_Project_%282019%E2%80%93present%29.svg/240px-Microsoft_Project_%282019%E2%80%93present%29.svg.png"
                    alt="Microsoft Project Logo" loading="lazy">
            </div>
            <h3 class="text-lg font-medium text-gray-700 group-hover:text-white mt-4">MS Project</h3>
        </div>

        <!-- JIRA -->
        <div class="transition-all duration-300 flex flex-col items-center h-full">
            <div class="flex-1 flex items-center justify-center p-4">
                <img class="h-16 object-contain w-full"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Jira_Logo.svg/500px-Jira_Logo.svg.png"
                    alt="JIRA Software Logo" loading="lazy">
            </div>
            <h3 class="text-lg font-medium text-gray-700 group-hover:text-white mt-4">JIRA</h3>
        </div>
    </div>
</div>