{% load static %}

<div class="px-10">
    <div class="text-center">
        <p class="text-3xl font-normal tracking-tight font-title text-center font-bold mb-10 text-5xl">
            Testing & Debugging
        </p>
    </div>
    <div class="grid grid-cols-4 lg:grid-cols-4 gap-5 py-5 lg:py-10 lg:my-10 justify-items-center mx-auto">
        <!-- Selenium -->
        <div class="flex flex-col items-center group">
            <div class="transition-all duration-300">
                <img src="https://www.svgrepo.com/show/354321/selenium.svg" alt="Selenium logo"
                    class="w-18 h-18 mx-auto transition-transform duration-300 group-hover:scale-110" width="80"
                    height="80" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium group-hover:text-white">Selenium</span>
        </div>


        <!-- Postman -->
        <div class="flex flex-col items-center group">
            <div class="transition-all duration-300">
                <img src="https://www.svgrepo.com/show/354202/postman-icon.svg" alt="Postman logo"
                    class="w-18 h-18 mx-auto transition-transform duration-300 group-hover:scale-110" width="80"
                    height="80" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium group-hover:text-white">Postman</span>
        </div>





        <!-- pytest -->
        <div class="flex flex-col items-center group">
            <div class="transition-all duration-300">
                <img src="https://docs.pytest.org/en/stable/_static/pytest1.png" alt="pytest logo"
                    class="w-18 h-18 mx-auto transition-transform duration-300 group-hover:scale-110" width="80"
                    height="80" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium group-hover:text-white">pytest</span>
        </div>



        <!-- Wireshark -->
        <div class="flex flex-col items-center group">
            <div class="transition-all duration-300">
                <img src="https://www.wireshark.org/assets/icons/wireshark-fin@2x.png" alt="Wireshark logo"
                    class="w-18 h-18 mx-auto transition-transform duration-300 group-hover:scale-110" width="80"
                    height="80" loading="lazy">
            </div>
            <span class="mt-3 text-sm font-medium group-hover:text-white">Wireshark</span>
        </div>
    </div>
</div>