@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


body{
  font-size: smaller;
}
.oswald {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}




body::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
  cursor: url("https://i.imgur.com/8Jhi9oS.png"), auto;
}

a{
  cursor: url("https://i.imgur.com/8Jhi9oS.png"), pointer;
}
